/* fonts */
/* ------------------------------------------------------------------ */
/* O L D - B R O W S E R    J R E J E C T    N O T I F I C A T I O N  */
/* ------------------------------------------------------------------ */
#jr_overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2147483646;
}

#jr_wrap {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 2147483647;
}

#jr_header {
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 5px;
  padding-bottom: 0;
  font: bold 1.3em/1 Helvetica, Arial, sans-serif;
  color: #333;
}

#jr_inner {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  background: #FFF;
  border: 1px solid #CCC;
  color: #4F4F4F;
  font: 400 12px/1 "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#jr_inner p {
  padding: 5px;
  margin: 0;
}
#jr_inner ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}
#jr_inner ul li {
  margin: 0 10px 10px 10px;
  padding: 0;
  width: 120px;
  height: 122px;
  float: left;
  text-align: center;
  cursor: pointer;
}
#jr_inner li a {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
}
#jr_inner li a:hover {
  text-decoration: underline;
}
#jr_inner .jr_icon {
  margin: 1px auto;
  padding: 0;
  width: 100px;
  height: 100px;
  background: transparent no-repeat scroll left top;
  cursor: pointer;
}

#jr_close {
  margin: 0;
  padding: 0;
  clear: both;
}
#jr_close a {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  color: #000;
  text-decoration: underline;
}
#jr_close p {
  margin: 0;
  padding: 10px 0 0 0;
}

/* ---------------------------------------- */
/* G E N E R A L    S T Y L E               */
/* ---------------------------------------- */
@font-face {
  font-family: "LetoSans";
  src: url("../font/LetoSans/LetoSans.eot");
  src: url("../font/LetoSans/LetoSans.eot?#iefix") format("embedded-opentype"), url("../font/LetoSans/LetoSans.woff2") format("woff2"), url("../font/LetoSans/LetoSans.woff") format("woff"), url("../font/LetoSans/LetoSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LetoSansThin";
  src: url("../font/LetoSansThin/LetoSansThin.eot");
  src: url("../font/LetoSansThin/LetoSansThin.eot?#iefix") format("embedded-opentype"), url("../font/LetoSansThin/LetoSansThin.woff2") format("woff2"), url("../font/LetoSansThin/LetoSansThin.woff") format("woff"), url("../font/LetoSansThin/LetoSansThin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LetoSansBold";
  src: url("../font/LetoSansBold/LetoSansBold.eot");
  src: url("../font/LetoSansBold/LetoSansBold.eot?#iefix") format("embedded-opentype"), url("../font/LetoSansBold/LetoSansBold.woff2") format("woff2"), url("../font/LetoSansBold/LetoSansBold.woff") format("woff"), url("../font/LetoSansBold/LetoSansBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.ic {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.ic:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
}

.ic--uk:before {
  width: 25px;
  height: 15px;
  background: url('../img/icons-s3bc810ab0f.png') 0 0 no-repeat;
}

.ic--scroll:before {
  width: 27px;
  height: 52px;
  background: url('../img/icons-s3bc810ab0f.png') -25px 0 no-repeat;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 304px;
  padding-top: 93px;
}

/* ---------------------------------------- */
/* H O M E    P A G E    S T Y L E          */
/* ---------------------------------------- */
/* navbar style */
.navbar {
  background-color: #122d4f;
  text-align: center;
}

.nav__item {
  padding: 30px 15px;
}
.nav__link {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font: 400 13px/16px "LetoSansBold", sans-serif;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.logo {
  background-color: #223a5f;
  -webkit-box-shadow: 0 30px 29px rgba(41, 41, 41, 0.16);
          box-shadow: 0 30px 29px rgba(41, 41, 41, 0.16);
}

.social__item {
  display: inline-block;
  vertical-align: top;
  padding: 2px;
}
.social__link {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #343434;
  text-align: center;
}
.social__link--footer {
  background-color: #192840;
}
.social__icon {
  color: #fff;
  font-size: 25px;
  line-height: 50px;
}

@media only screen and (min-width: 992px) {
  .navbar-header {
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
/* header slider style */
.slider__heading {
  color: #fff;
  font: 400 28px/32px "LetoSans", sans-serif;
  margin: 0 0 25px;
  text-transform: uppercase;
}
.slider__subheading {
  color: #fff;
  font: 400 17px/20px "LetoSans", sans-serif;
  margin: 0;
}
.slider__item--1 {
  background: url(../img/slider1.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.slider__item--2 {
  background: url(../img/slider1.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.slider__item--3 {
  background: url(../img/slider1.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.item {
  padding: 90px 0 150px;
}

@media only screen and (min-width: 768px) {
  .slider__heading {
    margin-bottom: 45px;
  }

  .item {
    padding: 110px 0 170px;
  }
}
@media only screen and (min-width: 992px) {
  .slider__heading {
    margin-bottom: 40px;
    font: 400 44px/48px "LetoSans", sans-serif;
  }

  .item {
    padding: 200px 0 280px;
  }
}
/* header box style */
.header {
  position: relative;
}
.header__container {
  position: relative;
}
.header__col {
  position: absolute;
  bottom: -122px;
}
.header__box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 35px;
}
.header__link {
  display: inline-block;
  background-color: #343434;
  color: #fff;
  text-align: center;
  height: 43px;
  width: 43px;
  margin-right: 5px;
}
.header__link .fa {
  font-size: 20px;
  line-height: 40px;
}
.header__text {
  color: #fff;
  font: 400 13px/16px "LetoSansBold", sans-serif;
  margin-bottom: 5px;
}
.header__call, .header__mail {
  display: inline-block;
  width: 48%;
}
.header__number {
  color: #fff;
  font: 400 22px/24px "LetoSansBold", sans-serif;
}
.header__number:hover, .header__number:focus {
  text-decoration: none;
}
.header__email {
  color: #fff;
  font: 400 16px/18px "LetoSansBold", sans-serif;
}
.header__email:hover, .header__email:focus {
  text-decoration: none;
}
.header__form {
  padding: 30px 45px 45px;
  background-color: #fff;
  -webkit-box-shadow: 0 30px 29px rgba(41, 41, 41, 0.16);
          box-shadow: 0 30px 29px rgba(41, 41, 41, 0.16);
  border-top: 5px solid #ba3742;
}

.form__head {
  padding: 0 15px;
  margin-bottom: 12px;
  text-align: center;
}
.form__heading {
  color: #282828;
  font: 400 17px/18px "LetoSans", sans-serif;
  margin-bottom: 10px;
}
.form__subheading {
  color: #ba3742;
  font: 400 21px/22px "LetoSansBold", sans-serif;
}
.form__input {
  background-color: #f9f9f9;
  border: 1px solid #e4e4e4;
  -webkit-border-radius: 27px;
          border-radius: 27px;
  padding: 16px 10px 16px 25px;
}
.form__number {
  border: 1px dashed #223a5f;
  -webkit-border-radius: 26px;
          border-radius: 26px;
  padding: 16px 10px 16px 30px;
  color: #122d4f;
  font: 400 24px/26px "LetoSans", sans-serif;
}

.btn__teacher {
  background-color: #223a5f;
  -webkit-border-radius: 21px;
          border-radius: 21px;
  -webkit-box-shadow: 0 35px 29px rgba(18, 45, 79, 0.15);
          box-shadow: 0 35px 29px rgba(18, 45, 79, 0.15);
  color: #fff;
  padding: 12px 20px 10px 25px;
  font: 400 18px/20px "LetoSansBold", sans-serif;
}
.btn__teacher .ic {
  margin-left: 15px;
}
.btn__register {
  background-color: #ba3742;
  -webkit-border-radius: 27px;
          border-radius: 27px;
  -webkit-box-shadow: 0 35px 29px rgba(168, 31, 44, 0.15);
          box-shadow: 0 35px 29px rgba(168, 31, 44, 0.15);
  color: #fff;
  font: 400 16px/18px "LetoSansBold", sans-serif;
}
.btn__register--size {
  width: 100%;
  padding: 18px 0;
}

.scroll {
  display: inline-block;
  width: 200px;
}
.scroll__text {
  color: #fff;
  font: 400 11px/12px "LetoSans", sans-serif;
  float: left;
  width: 160px;
}
.scroll .ic {
  float: left;
  width: 27px;
  margin-right: 13px;
}

@media only screen and (min-width: 768px) {
  .form__register {
    font: 400 18px/20px "LetoSansBold", sans-serif;
  }
}
@media only screen and (min-width: 992px) {
  .form__head {
    padding: 0 30px;
  }
  .form__subheading {
    font: 400 30px/32px "LetoSansBold", sans-serif;
  }

  .btn__teacher {
    font: 400 22px/24px "LetoSansBold", sans-serif;
  }
  .btn__register {
    font: 400 22px/24px "LetoSansBold", sans-serif;
  }

  .carousel-indicators {
    bottom: 200px;
  }
}
/* footer style */
.footer {
  position: absolute;
  padding-top: 47px;
  padding-bottom: 47px;
  bottom: 0;
  width: 100%;
  height: 304px;
  background-color: #223a5f;
}
