/* fonts */
/* navbar */
/* ------------------------------------------------------------------ */
/* O L D - B R O W S E R    J R E J E C T    N O T I F I C A T I O N  */
/* ------------------------------------------------------------------ */
#jr_overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2147483646;
}

#jr_wrap {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 2147483647;
}

#jr_header {
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 5px;
  padding-bottom: 0;
  font: bold 1.3em/1 Helvetica, Arial, sans-serif;
  color: #333;
}

#jr_inner {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  background: #FFF;
  border: 1px solid #CCC;
  color: #4F4F4F;
  font: 400 12px/1 "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#jr_inner p {
  padding: 5px;
  margin: 0;
}
#jr_inner ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}
#jr_inner ul li {
  margin: 0 10px 10px 10px;
  padding: 0;
  width: 120px;
  height: 122px;
  float: left;
  text-align: center;
  cursor: pointer;
}
#jr_inner li a {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
}
#jr_inner li a:hover {
  text-decoration: underline;
}
#jr_inner .jr_icon {
  margin: 1px auto;
  padding: 0;
  width: 100px;
  height: 100px;
  background: transparent no-repeat scroll left top;
  cursor: pointer;
}

#jr_close {
  margin: 0;
  padding: 0;
  clear: both;
}
#jr_close a {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  color: #000;
  text-decoration: underline;
}
#jr_close p {
  margin: 0;
  padding: 10px 0 0 0;
}

/* ---------------------------------------- */
/* S L I C K    S L I D E R    S T Y L E    */
/* ---------------------------------------- */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  outline: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}

/* -------------------------------------------------- */
/* S L I C K - S L I D E R    T H E M E    S T Y L E  */
/* -------------------------------------------------- */
.slick-loading .slick-list {
  background: #fff url('../img/ajax-loader.gif?1485005529') center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url('../../fonts/slick.eot');
  src: url('../../fonts/slick.eot?#iefix') format("embedded-opentype"), url('../../fonts/slick.woff') format("woff"), url('../../fonts/slick.ttf') format("truetype"), url('../../fonts/slick.svg#slick') format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  width: 20px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "FontAwesome";
  color: #666;
  font-size: 36px;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  background: transparent;
  display: block;
  height: 10px;
  width: 10px;
  border: 2px solid #b2b2b2;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button {
  background-color: #b2b2b2;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* ---------------------------------------- */
/* G E N E R A L    S T Y L E               */
/* ---------------------------------------- */
@font-face {
  font-family: "LetoSans";
  src: url("../font/LetoSans/LetoSans.eot");
  src: url("../font/LetoSans/LetoSans.eot?#iefix") format("embedded-opentype"), url("../font/LetoSans/LetoSans.woff2") format("woff2"), url("../font/LetoSans/LetoSans.woff") format("woff"), url("../font/LetoSans/LetoSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LetoSansThin";
  src: url("../font/LetoSansThin/LetoSansThin.eot");
  src: url("../font/LetoSansThin/LetoSansThin.eot?#iefix") format("embedded-opentype"), url("../font/LetoSansThin/LetoSansThin.woff2") format("woff2"), url("../font/LetoSansThin/LetoSansThin.woff") format("woff"), url("../font/LetoSansThin/LetoSansThin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LetoSansBold";
  src: url("../font/LetoSansBold/LetoSansBold.eot");
  src: url("../font/LetoSansBold/LetoSansBold.eot?#iefix") format("embedded-opentype"), url("../font/LetoSansBold/LetoSansBold.woff2") format("woff2"), url("../font/LetoSansBold/LetoSansBold.woff") format("woff"), url("../font/LetoSansBold/LetoSansBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.ic {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.ic:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
}

.ic--uk:before {
  width: 25px;
  height: 15px;
  background: url('../img/icons-s7c2f259cf7.png') 0 0 no-repeat;
}

.ic--scroll:before {
  width: 27px;
  height: 52px;
  background: url('../img/icons-s7c2f259cf7.png') -54px 0 no-repeat;
}

.ic--format1:before {
  width: 93px;
  height: 109px;
  background: url('../img/icons-s7c2f259cf7.png') -98px -94px no-repeat;
}

.ic--format2:before {
  width: 98px;
  height: 101px;
  background: url('../img/icons-s7c2f259cf7.png') 0 -94px no-repeat;
}

.ic--format3:before {
  width: 86px;
  height: 94px;
  background: url('../img/icons-s7c2f259cf7.png') -327px 0 no-repeat;
}

.ic--format4:before {
  width: 78px;
  height: 85px;
  background: url('../img/icons-s7c2f259cf7.png') -249px 0 no-repeat;
}

.ic--format5:before {
  width: 89px;
  height: 78px;
  background: url('../img/icons-s7c2f259cf7.png') -81px 0 no-repeat;
}

.ic--format6:before {
  width: 79px;
  height: 80px;
  background: url('../img/icons-s7c2f259cf7.png') -170px 0 no-repeat;
}

.ic--like320:before {
  width: 95px;
  height: 122px;
  background: url('../img/icons-s7c2f259cf7.png') -191px -94px no-repeat;
}

.ic--like760:before {
  width: 163px;
  height: 214px;
  background: url('../img/icons-s7c2f259cf7.png') -286px -94px no-repeat;
}

.ic--print:before {
  width: 17px;
  height: 18px;
  background: url('../img/icons-s7c2f259cf7.png') -25px 0 no-repeat;
}

.ic--connect:before {
  width: 12px;
  height: 18px;
  background: url('../img/icons-s7c2f259cf7.png') -42px 0 no-repeat;
}

html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

.body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  padding-top: 74px;
  -webkit-transition: 0.3s -webkit-transform ease-out;
  transition: 0.3s -webkit-transform ease-out;
  transition: 0.3s transform ease-out;
  transition: 0.3s transform ease-out, 0.3s -webkit-transform ease-out;
}
.body--collapsed {
  overflow: hidden;
  -webkit-transform: translateX(-200px);
      -ms-transform: translateX(-200px);
          transform: translateX(-200px);
}

.wrapper {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.btn {
  padding: 14px 40px;
  background-color: #ba3742;
  -webkit-border-radius: 43px;
          border-radius: 43px;
  -webkit-box-shadow: 0 35px 29px rgba(168, 31, 44, 0.15);
          box-shadow: 0 35px 29px rgba(168, 31, 44, 0.15);
  color: #fff;
  font: 400 16px/18px "LetoSansBold", sans-serif;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  outline: none;
}
.btn--size {
  margin: 0;
  width: 100%;
}
.btn:hover, .btn:focus {
  background-color: #df424f;
}

@media only screen and (min-width: 768px) {
  .btn {
    padding: 18px 40px;
    font: 400 18px/20px "LetoSansBold", sans-serif;
  }
}
@media only screen and (min-width: 960px) {
  .btn {
    font: 400 22px/24px "LetoSansBold", sans-serif;
  }
}
.heading {
  color: #131313;
  font: 400 24px/30px "LetoSansThin", sans-serif;
  text-align: center;
  margin: 0;
  z-index: 11;
}
.heading--text {
  display: inline-block;
  padding: 8px 8px 6px 15px;
  background-color: rgba(226, 248, 62, 0.25);
  font-family: "LetoSans", sans-serif;
}
.heading--span {
  background-color: transparent;
  padding: 0;
}

.content {
  padding: 50px 0 40px;
}
.content__heading {
  color: #223a5f;
  font: 400 28px/30px "LetoSans", sans-serif;
  margin: 0 0 30px;
}

@media only screen and (min-width: 768px) {
  .content__heading {
    font: 400 37px/45px "LetoSans", sans-serif;
    margin-bottom: 20px;
  }
}
.breadcrumb__link {
  color: #8a8a8a;
  font: 400 14px/16px "LetoSans", sans-serif;
}
.breadcrumb__link:hover, .breadcrumb__link:focus {
  text-decoration: none;
}
.breadcrumb__item.active {
  color: #282828;
}

.ic--print {
  margin-right: 20px;
}

.form-group {
  margin: 22px 0;
}

.content {
  color: #282828;
  font: 400 14px/16px "LetoSans", sans-serif;
}

@media only screen and (min-width: 768px) {
  .content {
    font: 400 18px/20px "LetoSans", sans-serif;
  }
}
/* modal styles */
.modal-body {
  padding: 0;
}

.modal-dialog {
  max-width: 450px;
}

button.close {
  position: relative;
  padding: 10px;
  color: #000;
  opacity: 1;
  font-size: 35px;
  z-index: 9;
}

@media only screen and (min-width: 768px) {
  .heading {
    font: 400 28px/38px "LetoSansThin", sans-serif;
  }
}
@media only screen and (min-width: 960px) {
  .heading {
    font: 400 37px/45px "LetoSansThin", sans-serif;
  }
}
@media only screen and (max-width: 959px) {
  .container-fluid > .navbar-header {
    margin-right: -15px;
    margin-left: -15px;
  }

  .navbar-header {
    float: none;
  }

  .navbar-left,
  .navbar-right {
    float: none !important;
  }

  .navbar-nav {
    float: none !important;
  }

  .navbar-nav > li {
    float: none;
  }
}
/* ---------------------------------------- */
/* H O M E    P A G E    S T Y L E          */
/* ---------------------------------------- */
/* ---------------------------------------- */
/* N A V B A R    S T Y L E                 */
/* ---------------------------------------- */
.navbar {
  background-color: #122d4f;
  text-align: center;
}
.navbar__container {
  position: relative;
}
.navbar__phone, .navbar__email {
  padding: 28px 0;
}

.navbar-toggle {
  margin: 25px;
}
.navbar-toggle--open .navbar-toggle__lines {
  background: transparent;
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
          transform: scale3d(0.8, 0.8, 0.8);
}
.navbar-toggle--open .navbar-toggle__lines:before, .navbar-toggle--open .navbar-toggle__lines:after {
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  top: 0;
}
.navbar-toggle--open .navbar-toggle__lines:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
          transform: rotate3d(0, 0, 1, 45deg);
}
.navbar-toggle--open .navbar-toggle__lines:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
          transform: rotate3d(0, 0, 1, -45deg);
}
.navbar-toggle__lines, .navbar-toggle__lines:before, .navbar-toggle__lines:after {
  display: inline-block;
  background-color: #f6f7fb;
}
.navbar-toggle__lines {
  position: relative;
  width: 30px;
  height: 5px;
}
.navbar-toggle__lines:before, .navbar-toggle__lines:after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s all ease-out;
  transition: 0.3s all ease-out;
}
.navbar-toggle__lines:before {
  top: 8px;
}
.navbar-toggle__lines:after {
  top: -8px;
}

.nav__link {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font: 400 13px/16px "LetoSansBold", sans-serif;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.nav__link:hover {
  background-color: #002444;
}

.logo {
  background-color: #223a5f;
  -webkit-box-shadow: 0 30px 29px rgba(41, 41, 41, 0.16);
          box-shadow: 0 30px 29px rgba(41, 41, 41, 0.16);
}

.phone__text,
.email__text {
  color: #fff;
  font: 400 11px/15px "LetoSans", sans-serif;
}
.phone__text--navbar,
.email__text--navbar {
  font: 400 13px/15px "LetoSansBold", sans-serif;
}
.phone__text--dark,
.email__text--dark {
  color: #282828;
}
.phone__link,
.email__link {
  color: #fff;
}
.phone__link:hover, .phone__link:focus,
.email__link:hover,
.email__link:focus {
  text-decoration: none;
  color: #fff;
}
.phone__link--dark,
.email__link--dark {
  color: #282828;
}
.phone__link--dark:hover, .phone__link--dark:focus,
.email__link--dark:hover,
.email__link--dark:focus {
  text-decoration: none;
  color: #282828;
}

.phone__link {
  font: 400 22px/30px "LetoSansBold", sans-serif;
}
.phone__link--navbar {
  font: 400 14px/16px "LetoSans", sans-serif;
}

.email__link {
  font: 400 16px/30px "LetoSansBold", sans-serif;
}
.email__link--navbar {
  font: 400 14px/16px "LetoSans", sans-serif;
}

.social__item {
  display: inline-block;
  vertical-align: top;
  padding: 2px;
}
.social__link {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #343434;
  text-align: center;
  color: #fff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.social__link:hover, .social__link:focus {
  background-color: #ba3742;
}
.social__link--footer {
  width: 47px;
  height: 47px;
  background-color: #192840;
}
.social__icon {
  font-size: 25px;
  line-height: 50px;
}

@media only screen and (max-width: 959px) {
  .nav__link {
    display: block;
    padding: 10px 0;
  }

  .navbar__logo {
    margin-left: 15px;
  }

  .navbar-toggle {
    display: block;
  }

  .collapse {
    position: fixed;
    top: 0;
    left: 100%;
    width: 200px;
    height: 100vh;
    overflow-y: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #122d4f;
  }
  .collapse--open {
    display: block;
  }

  .logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
  }
}
@media only screen and (min-width: 960px) {
  .nav__link {
    padding: 22px 15px;
  }

  .navbar-header {
    position: absolute;
    left: 0;
  }
  .navbar-header--center {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .collapse {
    display: block;
  }

  .logo {
    width: 165px;
  }

  .social__list--header {
    text-align: right;
  }
  .social__link {
    width: 40px;
    height: 40px;
  }
  .social__icon {
    font-size: 22px;
    line-height: 40px;
  }
}
@media only screen and (max-width: 959px) {
  .social__item {
    padding: 2px 6px;
  }
}
@media only screen and (max-width: 1199px) {
  .social__link--footer {
    background-color: transparent;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    -webkit-box-shadow: 0 0 0 1px #fff;
            box-shadow: 0 0 0 1px #fff;
  }
  .social__link--footer:hover, .social__link--footer:focus {
    background-color: #fff;
    color: #223a5f;
  }
}
@media only screen and (min-width: 1200px) {
  .nav__link {
    padding: 30px 15px;
  }

  .logo {
    width: 200px;
  }

  .social__link {
    width: 50px;
    height: 50px;
  }
  .social__link--footer {
    width: 47px;
    height: 47px;
  }
  .social__icon {
    font-size: 25px;
    line-height: 50px;
  }
}
/* ------------------------------------------ */
/* S E C T I O N    H E A D E R    S T Y L E  */
/* ------------------------------------------ */
.slider__heading {
  color: #fff;
  font: 400 28px/32px "LetoSans", sans-serif;
  margin: 0 0 25px;
  text-transform: uppercase;
}
.slider__subheading {
  color: #fff;
  font: 400 17px/20px "LetoSans", sans-serif;
  margin: 0;
}
.slider__item--1 {
  background: url(../img/slider1.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.slider__item--2 {
  background: url(../img/slider1.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.slider__item--3 {
  background: url(../img/slider1.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.item {
  padding: 90px 0 150px;
}

@media only screen and (max-width: 767px) {
  .slider__heading {
    margin-bottom: 45px;
  }

  .item {
    padding: 130px 0 200px;
  }
}
@media only screen and (min-width: 768px) {
  .item {
    padding: 150px 0 260px;
  }

  .carousel-indicators {
    left: 45%;
    bottom: 130px;
  }
}
@media only screen and (min-width: 960px) {
  .slider__heading {
    margin-bottom: 40px;
    font: 400 44px/48px "LetoSans", sans-serif;
  }

  .item {
    padding: 200px 0 360px;
  }

  .carousel-indicators {
    bottom: 200px;
  }
}
@media only screen and (min-width: 1200px) {
  .item {
    padding: 200px 0 320px;
  }
}
/* header box style */
.header {
  position: relative;
}
.header__link {
  display: inline-block;
  background-color: #343434;
  color: #fff;
  text-align: center;
  height: 43px;
  width: 43px;
  margin-right: 5px;
}
.header__link .fa {
  font-size: 20px;
  line-height: 40px;
}
.header__btn {
  background-color: #223a5f;
  -webkit-border-radius: 21px;
          border-radius: 21px;
  -webkit-box-shadow: 0 35px 29px rgba(18, 45, 79, 0.15);
          box-shadow: 0 35px 29px rgba(18, 45, 79, 0.15);
  color: #fff;
  padding: 12px 20px 10px 25px;
  font: 400 17px/20px "LetoSansBold", sans-serif;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.header__btn:hover, .header__btn:focus {
  background-color: #294672;
}
.header__btn .ic {
  margin-left: 15px;
}

.form {
  padding: 30px 17px 45px;
}
.form__head {
  padding: 0 15px;
  margin-bottom: 12px;
  text-align: center;
}
.form__heading {
  color: #282828;
  font: 400 17px/18px "LetoSans", sans-serif;
  margin-bottom: 10px;
}
.form__subheading {
  color: #ba3742;
  font: 400 21px/22px "LetoSansBold", sans-serif;
}
.form__input {
  background-color: #f9f9f9;
  border: 1px solid #e4e4e4;
  -webkit-border-radius: 43px;
          border-radius: 43px;
  padding: 17px 36px;
}
.form__input:focus {
  border-color: inherit;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(168, 31, 44, 0.15);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(168, 31, 44, 0.15);
}
.form__number {
  display: block;
  border: 1px dashed #223a5f;
  -webkit-border-radius: 26px;
          border-radius: 26px;
  padding: 16px 10px 16px 30px;
  color: #122d4f;
  font: 400 24px/26px "LetoSans", sans-serif;
}
.form__number:hover, .form__number:focus {
  text-decoration: none;
}

.header-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 55px;
}
.header-content__container {
  position: relative;
  height: 100%;
}
.header-content__form {
  position: relative;
  padding: 30px 45px 45px;
  background-color: #fff;
  -webkit-box-shadow: 0 30px 29px rgba(41, 41, 41, 0.16);
          box-shadow: 0 30px 29px rgba(41, 41, 41, 0.16);
  border-top: 5px solid #ba3742;
  z-index: 1;
}
.header-content__col {
  position: absolute;
  margin-bottom: 40px;
  top: 0;
  height: 100%;
}
.header-content__btn-group {
  position: absolute;
  margin-bottom: 25px;
  bottom: 0;
}

.scroll {
  position: absolute;
  bottom: 180px;
  display: inline-block;
  width: 200px;
}
.scroll__text {
  color: #fff;
  font: 400 11px/12px "LetoSans", sans-serif;
  float: left;
  width: 160px;
}
.scroll__icon {
  float: left;
  width: 27px;
  margin-right: 13px;
}

@media only screen and (max-width: 767px) {
  .header-content__btn-group {
    text-align: center;
  }
  .header-content__form {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header__btn {
    margin: 15px 10px;
  }

  .form__register {
    font: 400 18px/20px "LetoSansBold", sans-serif;
  }
  .form__number {
    padding: 16px 18px 16px 18px;
    text-align: center;
  }
}
@media only screen and (min-width: 768px) {
  .form__number {
    font: 400 16px/20px "LetoSans", sans-serif;
  }

  .header-content__btn-group {
    margin-bottom: 115px;
  }
}
@media only screen and (min-width: 960px) {
  .header-content__btn-group {
    position: relative;
    margin: 0;
    text-align: center;
  }
  .header-content__col {
    height: auto;
    top: auto;
    bottom: 0;
  }

  .form__head {
    padding: 0 30px;
  }
  .form__subheading {
    font: 400 30px/32px "LetoSansBold", sans-serif;
  }
  .form__number {
    font: 400 24px/26px "LetoSans", sans-serif;
  }
}
@media only screen and (min-width: 1200px) {
  .header__btn {
    font: 400 22px/24px "LetoSansBold", sans-serif;
  }
}
/* section intro style */
.intro {
  padding: 30px 0 40px;
  background: url(../img/introbg.jpg) repeat;
  color: #fff;
  text-align: center;
}
.intro__heading {
  font: 400 14px/20px "LetoSansThin", sans-serif;
  margin-bottom: 20px;
}
.intro__subheading {
  font: 400 16px/20px "LetoSansBold", sans-serif;
  margin-bottom: 20px;
}
.intro__btn {
  min-width: 280px;
  padding: 20px 0;
}

@media only screen and (min-width: 768px) {
  .intro {
    padding: 60px 0 40px;
  }
  .intro__heading {
    margin-bottom: 25px;
  }
  .intro__subheading {
    margin-bottom: 25px;
  }
}
@media only screen and (min-width: 960px) {
  .intro {
    padding: 90px 0 65px;
  }
  .intro__heading {
    margin-bottom: 40px;
  }
  .intro__subheading {
    margin-bottom: 40px;
  }
}
/* section format style */
.format {
  padding: 30px 0;
  background-color: #fafafa;
}
.format__col {
  outline: none;
}
.format__heading {
  margin-bottom: 30px;
}
.format__text {
  text-align: center;
  color: #131313;
  font: 400 15px/18px "LetoSans", sans-serif;
}
.format__box {
  padding: 20px 0 20px;
}
.format__image {
  text-align: center;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  .format {
    padding: 50px 0;
  }
  .format__col {
    border-bottom: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
    margin: 0 0 -1px -1px;
    border-collapse: collapse;
  }
  .format__slider {
    overflow: hidden;
  }
  .format__box {
    padding: 30px 0 30px;
  }
}
@media only screen and (min-width: 960px) {
  .format {
    padding: 80px 0 50px;
  }
  .format__box {
    padding: 50px 0 60px;
  }
}
@media only screen and (min-width: 1200px) {
  .format {
    padding: 80px 0 100px;
  }
}
/* section teachers style */
.teacher {
  padding: 30px 0 45px;
}
.teacher__slider .slick-slide {
  margin: 0 5px;
}
.teacher__slider .slick-list {
  margin: 0 -5px;
}
.teacher__slider .slick-prev {
  left: -32px;
}
.teacher__slider .slick-next {
  right: -32px;
}
.teacher__box {
  text-align: center;
  border: 1px solid #e4e4e4;
  padding-bottom: 25px;
  margin-bottom: 20px;
}
.teacher__heading {
  margin-bottom: 30px;
}
.teacher__video {
  margin: -1px -1px 30px;
}
.teacher__video .video__box {
  padding-bottom: 56.3%;
}
.teacher__name {
  margin-bottom: 15px;
  color: #131313;
  font: 400 24px/26px "LetoSansBold", sans-serif;
}
.teacher__country {
  margin-bottom: 15px;
  color: #666;
  font: 400 12px/14px "LetoSans", sans-serif;
}
.teacher__skills {
  color: #666;
  font: 400 12px/14px "LetoSans", sans-serif;
  margin-bottom: 20px;
}
.teacher__skills:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 54px;
  height: 2px;
  background-color: #666;
  margin-top: 18px;
}
.teacher__link {
  color: #223a5f;
  font: 400 15px/18px "LetoSansBold", sans-serif;
}
.teacher__link:hover, .teacher__link:focus {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .teacher {
    padding: 40px 0 45px;
  }
  .teacher__slider .slick-prev {
    left: -70px;
  }
  .teacher__slider .slick-next {
    right: -70px;
  }
}
@media only screen and (min-width: 960px) {
  .teacher {
    padding: 70px 0 100px;
  }
  .teacher__slider .slick-prev {
    left: -22px;
  }
  .teacher__slider .slick-next {
    right: -22px;
  }
}
@media only screen and (min-width: 1360px) {
  .teacher__slider .slick-prev {
    left: -54px;
  }
  .teacher__slider .slick-next {
    right: -54px;
  }
}
/* section about style */
.about {
  padding: 45px 0;
  background: #ebebeb url(../img/aboutbg.png) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.about__heading {
  margin-bottom: 40px;
  position: relative;
}
.about__bg-text {
  position: absolute;
  top: -3px;
  left: -20px;
  font: 400 51px/51px "LetoSansBold", sans-serif;
  color: #f2f2f3;
  text-transform: uppercase;
  z-index: -1;
}
.about__item {
  list-style-type: none;
}
.about__text {
  display: block;
  color: #131313;
  font: 400 16px/19px "LetoSans", sans-serif;
  margin-bottom: 25px;
}
.about__text--span {
  font-family: "LetoSansBold", sans-serif;
}
.about__text--position {
  float: left;
  width: 92%;
}
.about__list {
  padding-left: 0;
}
.about__box {
  position: relative;
  padding: 35px 25px 0;
  border: 3px dashed #dacccd;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  margin-bottom: 65px;
}
.about__box .ic {
  position: absolute;
}
.about__btn {
  display: block;
  margin: 0 auto;
  padding: 30px;
}
.about__video {
  margin-bottom: 30px;
}
.about__video .video__box {
  padding-bottom: 78%;
}

.ic--like320 {
  bottom: -60px;
  left: -10px;
}
.ic--like760 {
  bottom: -120px;
  left: -60px;
}

@media only screen and (max-width: 767px) {
  .about__video {
    margin: 0 -15px 30px;
  }
}
@media only screen and (min-width: 768px) {
  .about {
    padding: 45px 0 60px;
  }
  .about__heading {
    margin-bottom: 30px;
  }
  .about__heading:after {
    content: "";
    display: block;
    height: 12px;
    width: 12px;
    margin: 0 auto;
    background-color: #f1e2e4;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin-top: 20px;
  }
  .about__list {
    text-align: center;
  }
  .about__box {
    padding: 50px 30px 10px;
  }
  .about__btn {
    min-width: 550px;
    position: relative;
    top: -80px;
  }
  .about__video {
    color: #e7e7e7;
    -webkit-box-shadow: -12px 12px #e7e7e7, 12px 12px #e7e7e7;
            box-shadow: -12px 12px #e7e7e7, 12px 12px #e7e7e7;
  }
}
@media only screen and (min-width: 960px) {
  .about__text {
    font: 400 24px/32px "LetoSans", sans-serif;
  }
  .about__bg-text {
    left: 50%;
    top: -30px;
    margin-left: -130px;
    font: 400 71px/71px "LetoSansBold", sans-serif;
  }
  .about__list {
    text-align: left;
  }
  .about__item:before {
    content: "";
    display: inline-block;
    height: 10px;
    width: 10px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #ffefef;
    margin: 10px 20px 0 0;
    float: left;
  }
  .about__box {
    padding: 55px 60px 30px;
  }
  .about__btn {
    position: static;
    min-width: 660px;
  }
}
@media only screen and (min-width: 1200px) {
  .about {
    padding: 100px 0 90px;
  }
}
/* section blog style */
.blog {
  background-color: #ebebeb;
  padding: 50px 0 25px;
}
.blog__heading {
  margin-bottom: 65px;
  position: relative;
}
.blog__bg-text {
  position: absolute;
  top: -35px;
  left: 50%;
  margin-left: -100px;
  text-transform: uppercase;
  color: #f2f2f3;
  font: 400 51px/51px "LetoSansBold", sans-serif;
  z-index: -1;
}
.blog__box {
  padding: 20px 18px 25px;
  background-color: #fff;
}
.blog__naming {
  color: #d9d9d9;
  font: 400 14px/16px "LetoSans", sans-serif;
  margin: 0 0 20px;
}
.blog__title {
  color: #223a5f;
  font: 400 16px/18px "LetoSans", sans-serif;
  margin-bottom: 20px;
}
.blog__info {
  color: #282828;
  font: 400 14px/16px "LetoSans", sans-serif;
}
.blog__slider {
  margin-bottom: 30px;
}
.blog__item {
  padding: 0 10px;
}
.blog__btn {
  display: inline-block;
  padding: 22px 0;
  border: 2px solid #d9d9d9;
  -webkit-border-radius: 43px;
          border-radius: 43px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #d9d9d9;
  background-color: transparent;
  font: 400 16px/17px "LetoSansBold", sans-serif;
  min-width: 220px;
}
.blog__btn:focus {
  -webkit-box-shadow: 0 35px 29px rgba(168, 31, 44, 0.15);
          box-shadow: 0 35px 29px rgba(168, 31, 44, 0.15);
}

@media only screen and (min-width: 768px) {
  .blog {
    padding: 70px 0 40px;
  }
  .blog__heading {
    margin-bottom: 35px;
  }
  .blog__heading:after {
    content: "";
    display: block;
    margin: 0 auto;
    height: 12px;
    width: 12px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #d9d9d9;
    margin-top: 10px;
  }
  .blog__naming {
    margin-bottom: 25px;
  }
  .blog__slider {
    margin-bottom: 45px;
  }
  .blog__slider .slick-next {
    right: -16px;
  }
  .blog__slider .slick-prev {
    left: -16px;
  }
  .blog__btn {
    padding: 25px 0;
  }
}
@media only screen and (min-width: 960px) {
  .blog {
    padding: 85px 0 70px;
  }
  .blog__heading:after {
    margin-top: 30px;
  }
  .blog__bg-text {
    color: #c5c5c5;
    font: 400 70px/70px "LetoSansBold", sans-serif;
  }
  .blog__title {
    margin-bottom: 25px;
  }
  .blog__naming {
    margin-bottom: 20px;
  }
  .blog__naming:after {
    content: "";
    display: block;
    height: 2px;
    width: 85%;
    background-color: #e3e3e3;
    margin-top: 7px;
  }
  .blog__slider {
    margin-bottom: 50px;
  }
  .blog__slider .slick-next {
    right: -22px;
  }
  .blog__slider .slick-prev {
    left: -22px;
  }
  .blog__btn {
    font: 400 22px/24px "LetoSansBold", sans-serif;
  }
}
@media only screen and (min-width: 1360px) {
  .blog__slider .slick-next {
    right: -50px;
  }
  .blog__slider .slick-prev {
    left: -50px;
  }
}
/* section subscribe style */
.subscribe {
  padding: 25px 0 35px;
  background: url(../img/subscribebg.jpg) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.subscribe__heading {
  margin-bottom: 25px;
  color: #fff;
}
.subscribe__heading:after {
  content: "";
  display: block;
  margin: 0 auto;
  height: 12px;
  width: 12px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #aa2337;
  margin-top: 20px;
}
.subscribe__btn {
  width: 100%;
  padding: 20px 0;
}
.subscribe__input {
  font: 400 16px/18px "LetoSans", sans-serif;
  padding: 18px 10px 18px 45px;
  border: 3px solid #d9d9d9;
  -webkit-box-shadow: 0 35px 29px rgba(168, 31, 44, 0.15);
          box-shadow: 0 35px 29px rgba(168, 31, 44, 0.15);
  background: transparent;
  color: #fff;
  margin-bottom: 20px;
  -webkit-border-radius: 43px;
          border-radius: 43px;
}

@media only screen and (min-width: 768px) {
  .subscribe {
    padding: 45px 0 60px;
  }
  .subscribe:after {
    margin-top: 30px;
  }
  .subscribe__group {
    position: relative;
  }
  .subscribe--btn-position {
    position: absolute;
    top: 0;
    right: -6px;
    min-width: 210px;
    width: auto;
  }
}
@media only screen and (min-width: 960px) {
  .subscribe {
    padding: 45px 0 55px;
  }
  .subscribe__heading {
    margin-bottom: 40px;
  }
  .subscribe__input {
    font: 400 19px/20px "LetoSans", sans-serif;
  }
  .subscribe__btn {
    padding: 19px 0 18px;
  }
}
/* footer style */
.footer {
  padding-top: 47px;
  padding-bottom: 47px;
  background-color: #223a5f;
}
.footer__logo {
  position: relative;
  width: auto;
  float: right;
}
.footer__social {
  margin-top: 75px;
  text-align: left;
}

.f-nav__heading {
  display: inline-block;
  margin: 20px 0;
  color: #fff;
  font: 400 17px/20px "LetoSans", sans-serif;
}
.f-nav__link {
  display: inline-block;
  font: 400 13px/20px "LetoSans", sans-serif;
  color: #d0e2ff;
}

@media only screen and (max-width: 767px) {
  .footer__social {
    margin-top: 36px;
    text-align: center;
  }
  .footer__logo {
    position: relative;
    float: none;
  }

  .f-nav {
    text-align: center;
  }
  .f-nav__heading--space {
    margin: 7px 0 8px;
  }
}
@media only screen and (min-width: 960px) {
  .footer__social {
    margin-top: 55px;
    text-align: right;
  }
  .footer__logo {
    margin-top: 20px;
    float: none;
  }

  .f-nav__heading {
    font: 400 15px/18px "LetoSans", sans-serif;
  }
}
@media only screen and (min-width: 1200px) {
  .footer__logo {
    display: inline-block;
  }
}
/* ---------------------------------------- */
/* P A G E    T E A C H E R S    S T Y L E  */
/* ---------------------------------------- */
.teachers__text {
  margin-bottom: 30px;
}
.teachers__list {
  padding-left: 15px;
}
.teachers__item {
  padding-left: 10px;
  color: #282828;
  font: 400 14px/16px "LetoSans", sans-serif;
}

@media only screen and (min-width: 768px) {
  .teachers__item {
    font: 400 18px/20px "LetoSans", sans-serif;
    padding-left: 30px;
  }
}
/* ---------------------------------------- */
/* P A G E    L E C T U R E R    S T Y L E  */
/* ---------------------------------------- */
.lecturer__point {
  display: inline-block;
  margin-right: 20px;
  color: #223a5f;
  font: 400 14px/25px "LetoSans", sans-serif;
  border-bottom: 1px dashed #223a5f;
}
.lecturer__profile {
  padding-top: 20px;
}
.lecturer-profile {
  color: #282828;
  font: 400 12px/18px "LetoSans", sans-serif;
}
.lecturer-profile__value {
  font-family: "LetoSansBold", sans-serif;
}
.lecturer__row {
  margin-bottom: 5px;
}
.lecturer__price {
  background-color: #fefaee;
  padding: 30px 0 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-left: -15px;
  z-index: 25;
}
.lecturer__price--closed {
  display: none;
}
.lecturer__close {
  position: absolute;
  display: inline-block;
  top: 10px;
  right: 15px;
  cursor: pointer;
}
.lecturer__close:hover {
  color: #ba3742;
}
.lecturer-price__text {
  display: inline-block;
  font: 400 13px/16px "LetoSans", sans-serif;
}
.lecturer-price__value {
  color: #282828;
  font: 400 30px/32px "LetoSans", sans-serif;
}
.lecturer__btn {
  background-color: #52ac62;
  color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.lecturer__btn--margin {
  margin-bottom: 25px;
}
.lecturer__link {
  display: block;
  color: #223a5f;
  font: 400 16px/18px "LetoSansBold", sans-serif;
  text-decoration: underline;
  margin-top: 15px;
}
.lecturer__text {
  margin-bottom: 20px;
}
.lecturer__video {
  margin: 0 -15px;
}
.lecturer__video .video__box {
  padding-bottom: 63%;
}
.lecturer__contact {
  border: 3px dashed #dacccd;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 35px 30px 20px;
  margin-top: 35px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .lecturer__contact {
    padding: 30px 0 25px;
  }
  .lecturer__price {
    position: static;
    margin: 0;
    width: auto;
  }
}
@media only screen and (min-width: 960px) {
  .lecturer-profile {
    font-size: 18px;
    line-height: 20px;
  }
}
