/* fonts */
/* ------------------------------------------------------------------ */
/* O L D - B R O W S E R    J R E J E C T    N O T I F I C A T I O N  */
/* ------------------------------------------------------------------ */
#jr_overlay {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 2147483646;
}

#jr_wrap {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  z-index: 2147483647;
}

#jr_header {
  display: block;
  margin: 0;
  margin-bottom: 0.5em;
  padding: 5px;
  padding-bottom: 0;
  font: bold 1.3em/1 Helvetica, Arial, sans-serif;
  color: #333;
}

#jr_inner {
  position: relative;
  margin: 0 auto;
  padding: 20px;
  height: auto;
  background: #FFF;
  border: 1px solid #CCC;
  color: #4F4F4F;
  font: 400 12px/1 "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
#jr_inner p {
  padding: 5px;
  margin: 0;
}
#jr_inner ul {
  margin: 0;
  padding: 0;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
}
#jr_inner ul li {
  margin: 0 10px 10px 10px;
  padding: 0;
  width: 120px;
  height: 122px;
  float: left;
  text-align: center;
  cursor: pointer;
}
#jr_inner li a {
  margin: 0;
  padding: 0;
  color: #333;
  font-size: 0.8em;
  text-decoration: none;
}
#jr_inner li a:hover {
  text-decoration: underline;
}
#jr_inner .jr_icon {
  margin: 1px auto;
  padding: 0;
  width: 100px;
  height: 100px;
  background: transparent no-repeat scroll left top;
  cursor: pointer;
}

#jr_close {
  margin: 0;
  padding: 0;
  clear: both;
}
#jr_close a {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  color: #000;
  text-decoration: underline;
}
#jr_close p {
  margin: 0;
  padding: 10px 0 0 0;
}

/* ---------------------------------------- */
/* G E N E R A L    S T Y L E               */
/* ---------------------------------------- */
@font-face {
  font-family: "LetoSans";
  src: url("../font/LetoSans/LetoSans.eot");
  src: url("../font/LetoSans/LetoSans.eot?#iefix") format("embedded-opentype"), url("../font/LetoSans/LetoSans.woff2") format("woff2"), url("../font/LetoSans/LetoSans.woff") format("woff"), url("../font/LetoSans/LetoSans.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LetoSansThin";
  src: url("../font/LetoSansThin/LetoSansThin.eot");
  src: url("../font/LetoSansThin/LetoSansThin.eot?#iefix") format("embedded-opentype"), url("../font/LetoSansThin/LetoSansThin.woff2") format("woff2"), url("../font/LetoSansThin/LetoSansThin.woff") format("woff"), url("../font/LetoSansThin/LetoSansThin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "LetoSansBold";
  src: url("../font/LetoSansBold/LetoSansBold.eot");
  src: url("../font/LetoSansBold/LetoSansBold.eot?#iefix") format("embedded-opentype"), url("../font/LetoSansBold/LetoSansBold.woff2") format("woff2"), url("../font/LetoSansBold/LetoSansBold.woff") format("woff"), url("../font/LetoSansBold/LetoSansBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.ic {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.ic:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 304px;
  padding-top: 93px;
}

@media only screen and (max-width: 991px) {
  .container-fluid > .navbar-header {
    margin-right: -15px;
    margin-left: -15px;
  }
  .container-fluid > .navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
  }

  .navbar-header {
    float: none;
  }

  .navbar-left, .navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .collapse.in {
    display: block !important;
  }
}
/* ---------------------------------------- */
/* H O M E    P A G E    S T Y L E          */
/* ---------------------------------------- */
/* header style */
.navbar {
  background-color: #122d4f;
  text-align: center;
}

.nav__link {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font: 400 13px/16px "LetoSansBold", sans-serif;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.logo {
  background-color: #223a5f;
  -webkit-box-shadow: 0 30px 29px rgba(41, 41, 41, 0.16);
          box-shadow: 0 30px 29px rgba(41, 41, 41, 0.16);
}

.social__item {
  display: inline-block;
  vertical-align: top;
  padding: 2px;
}
.social__link {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #343434;
  text-align: center;
}
.social__link--footer {
  background-color: #192840;
}
.social__icon {
  color: #fff;
  font-size: 25px;
  line-height: 50px;
}

@media only screen and (min-width: 992px) {
  .nav__item {
    padding: 23px 15px;
  }

  .navbar-header {
    position: absolute;
    left: 50%;
    top: 0;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .logo {
    width: 185px;
  }
}
@media only screen and (min-width: 1200px) {
  .nav__item {
    padding: 30px 15px;
  }

  .logo {
    width: auto;
  }
}
.footer {
  position: absolute;
  padding-top: 47px;
  padding-bottom: 47px;
  bottom: 0;
  width: 100%;
  height: 304px;
  background-color: #223a5f;
}
