/* fonts */
$font-leto-thin: 'LetoSansThin', sans-serif
$font-leto: 'LetoSans', sans-serif
$font-leto-bold: 'LetoSansBold', sans-serif
$font-awesome: 'FontAwesome'
/* navbar */
$navbar-bg: #122d4f
$collapse-width: 200px