+comment('general style')
+font('LetoSans', 'LetoSans')
+font('LetoSansThin', 'LetoSansThin')
+font('LetoSansBold', 'LetoSansBold')
+ic
+comment("home page style")
+cm("header style")
.navbar
  position: relative
  background-color: #122d4f
  text-align: center
.nav
  &__item
    padding-top: 25px
  &__link
    padding: 25px 15px
    color: #fff
    text-transform: uppercase  
    font: 400 13px/16px $font-leto-bold
+r(768) 
.navbar-header
  position: absolute
  left: 50%
  top: 0
  transform: translateX(-50%)
+r(992)