+comment('general style')
+font('LetoSans', 'LetoSans')
+font('LetoSansThin', 'LetoSansThin')
+font('LetoSansBold', 'LetoSansBold')
+ic
@each $ic in uk, scroll, format1, format2, format3, format4, format5, format6, like320, like760, print, print_ff, connect, connect_fff, add
  .ic--#{$ic}
    +sb(#{$ic})
html
  position: relative
  min-height: 100%
  height: 100%
.body
  position: relative
  display: flex
  flex-direction: column
  min-height: 100%
  padding-top: 74px
  transition: .3s transform ease-out
  &--collapsed
    height: 100%
    overflow: hidden
    width: 100%
    position: fixed
    transform: translateX(-$collapse-width)
.wrapper
  flex: 1
  flex: 1 0 auto
.no-flexbox 
  body
    display: table
    width: 100%
  .wrapper
    display: table-row
    height: 100%
.btn 
  padding: 14px 40px
  background-color: #ba3742
  border-radius: 43px
  box-shadow: 0 35px 29px rgba(168, 31, 44, 0.15) 
  color: #fff   
  font: 400 16px/18px $font-leto-bold 
  transition: all .3s ease-out
  outline: none
  &--size
    margin: 0
    width: 100% 
  &:hover,
  &:focus
    background-color: #ba3742 * 1.2 
.form-control
  &:focus
    outline: none
    border-color: inherit
+r(768)    
  .btn
    padding: 18px 40px
    font: 400 18px/20px $font-leto-bold 
+r(960) 
  .btn
    font: 400 22px/24px $font-leto-bold          
.heading
  color: #131313
  font: 400 24px/30px $font-leto-thin
  text-align: center
  margin: 0
  z-index: 2
  &--text
    display: inline-block
    padding: 8px 8px 6px 15px
    background-color: rgba(226,248,62,0.25)
    font-family: $font-leto
  &--span
    background-color: transparent
    padding: 0      
.content
  padding: 50px 0 40px
  &__heading    
    color: #223a5f
    font: 400 28px/30px $font-leto  
    margin: 0 0 30px 
  &--nopadding
    padding: 0  
+rx(767)
  .content
    &--lecturer
      padding-top: 0   
+r(768)      
  .content
    &__heading
      font: 400 37px/45px $font-leto 
      margin-bottom: 20px
.breadcrumb
  &__link
    color: #8a8a8a   
    font: 400 12px/16px $font-leto 
    &:hover,
    &:focus
      text-decoration: none
  &__item
    &--active
      color: #282828 
    &--color
      color: #fff   
.form-group
  margin: 22px 0
.content
  color: #282828
  font: 400 14px/16px $font-leto
  &--padding-bottom
    padding-bottom: 0
.x-title
  font: 400 16px/18px $font-leto 
  color: #282828     
  margin: 0
+r(768)  
  .content
    font: 400 18px/20px $font-leto 
  .x-title
    font: 400 19px/20px $font-leto
+r(960)
  .x-title
    font: 400 26px/30px $font-leto   
.info
  margin-bottom: 15px
  &__heading
    margin-bottom: 25px 
  &__list
    padding-left: 15px  
  &__item
    padding-left: 10px
    margin-bottom: 10px  
.text--margin
  margin-bottom: 25px  
+r(768)
  .text--margin  
    &-large
      margin-bottom: 90px
+cm('contact styles') 
.contact 
  padding: 25px 15px
  background-color: #fefaee  
  &--margin
    margin: 0 -15px
+r(768)
  .contact
    padding: 35px 30px
    &--margin
      margin: 0 -15px
      padding-top: 66px
+r(960)    
  .contact
    padding: 40px 35px
    &--margin
      margin: 0
+cm('pricestyles') 
.price
  color: #282828
  padding: 25px 15px
  background-color: #fefaee
  &--margin
    margin: 0 -15px
  &__text 
    font: 400 14px/16px $font-leto
    margin-bottom: 10px
  &__span     
    font: 400 30px/30px $font-leto-bold
    margin-bottom: 10px
  &__btn
    background-color: #52ac62
    box-shadow: none
    margin-top: 20px
    width: 100%
    &:hover,
    &:focus
      background-color: #52ac62 * 1.2
+r(768)
  .price
    padding: 35px 30px 
    &--margin
      margin: 0 -15px    
+r(960)   
  .price
    padding: 40px 35px
    &--margin
      margin: 0 0 15px
.info--border320      
  border: 3px dashed #dacccd
  padding: 30px 20px 20px      
+r(760)
  .info
    margin-bottom: 20px
    &__heading
      margin-bottom: 25px 
    &__list
      padding-left: 40px    
+r(960)  
  .info
    padding: 30px 20px 20px
    border: 3px dashed #dacccd
    &__heading
      margin-bottom: 10px  
    &__item
      margin-bottom: 15px   
  .text--margin
    margin-bottom: 80px        
+cm('modal styles')
.modal-body
  padding: 0
.modal-dialog
  max-width: 450px
  margin: 0 auto
button.close
  position: relative
  padding: 10px
  color: #000
  opacity: 1
  font-size: 35px
  z-index: 9
+r(768)
  .heading
    font: 400 28px/38px $font-leto-thin 
+r(960)   
  .heading 
    font: 400 37px/45px $font-leto-thin
+rx(959)
  .container-fluid
    & > .navbar-header
      margin-right: -15px
      margin-left: -15px 
  .navbar-header
    float: none
  .navbar-left,
  .navbar-right 
    float: none !important
  .navbar-nav
    float: none!important
  .navbar-nav>li
    float: none    
+comment("home page style")
+comment("navbar style")
.navbar
  background-color: $navbar-bg
  text-align: center
  &__container
    position: relative
  &__phone,
  &__email
    padding: 28px 0
.navbar-toggle
  margin: 25px
  &--open
    .navbar-toggle__lines
      background: transparent
      transform: scale3d(0.8, 0.8, 0.8)
      &:before,
      &:after
        transform-origin: 50% 50%
        top: 0
      &:before
        transform: rotate3d(0, 0, 1, 45deg)
      &:after
        transform: rotate3d(0, 0, 1, -45deg)
  &__lines,
  &__lines:before,
  &__lines:after
    display: inline-block
    background-color: #f6f7fb
  &__lines
    position: relative
    width: 30px
    height: 5px
    &:before,
    &:after
      content: ''
      position: absolute
      left: 0
      width: 100%
      height: 100%
      transition: .3s all ease-out
    &:before
      top: 8px
    &:after
      top: -8px
.nav
  &__link
    display: inline-block
    color: #fff
    text-transform: uppercase  
    font: 400 13px/16px $font-leto-bold
    transition: all .3s ease-out
    &:hover
      background-color: #002444
.logo
  background-color: #223a5f
  box-shadow: 0 30px 29px rgba(41, 41, 41, 0.16)
.phone,
.email
  &__text
    color: #282828
    font: 400 13px/15px $font-leto-bold
    &:hover,
    &:focus
      text-decoration: none
      color: #282828
    &--navbar
      color: #fff
      font: 400 13px/15px $font-leto-bold
    &--light
      color: #fff
      &:hover,
      &:focus
        color: #fff
  &__link
    color: #282828
    &:hover,
    &:focus
      text-decoration: none
      color: #282828
    &--navbar
      color: #fff
    &--light
      color: #fff
      &:hover,
      &:focus
        color: #fff
.phone
  &__link
    font: 400 22px/30px $font-leto-bold
    &--navbar
      font: 400 14px/16px $font-leto 
.email
  &__link
    font: 400 16px/30px $font-leto-bold
    &--navbar
      font: 400 14px/16px $font-leto 
.social
  &__item
    display: inline-block
    vertical-align: top
    padding: 2px
  &__link
    display: block
    width: 50px
    height: 50px
    background-color: #343434
    text-align: center
    color: #fff
    transition: all .3s ease-out
    &:hover,
    &:focus
      background-color: #ba3742
    &--footer
      width: 47px
      height: 47px
      background-color: #192840
  &__icon
    font-size: 25px
    line-height: 50px
.collapse
  display: block
+rx(959)
  .nav
    &__link
      display: block
      padding: 10px 0
  .navbar
    &__logo
      margin-left: 15px
  .navbar-toggle
    display: block
  .collapse
    position: fixed
    top: 0
    bottom: 0
    left: 100%
    width: $collapse-width
    overflow-y: auto
    padding:
      top: 25px
      bottom: 25px
    background: $navbar-bg
    &--open
      display: block
  .logo
    position: absolute
    left: 0
    top: 0
    width: 200px
+r(960)
  .nav
    &__link
      padding: 22px 15px
  .navbar-header
    position: absolute
    left: 0
    &--center
      left: 50%
      transform: translateX(-50%) 
  .collapse
    display: block
  .logo
    width: 165px
  .social
    &__list
      &--header
        text-align: right
    &__link
      width: 40px
      height: 40px
    &__icon
      font-size: 22px
      line-height: 40px
+rx(959)
  .social
    &__item
      padding: 2px 6px
+rx(1199)
  .social
    &__link
      &--footer
        background-color: transparent
        border-radius: 50%
        box-shadow: 0 0 0 1px #fff
        &:hover,
        &:focus
          background-color: #fff
          color: #223a5f
+r(1200)
  .nav
    &__link
      padding: 30px 15px
  .logo
    width: 200px
  .social
    &__link
      width: 50px
      height: 50px
      &--footer
        width: 47px
        height: 47px
    &__icon
      font-size: 25px
      line-height: 50px
+comment("section header style")   
.slider
  &__heading 
    color: #fff
    font: 400 28px/32px $font-leto
    margin: 0 0 25px
    text-transform: uppercase
  &__subheading
    color: #fff
    font: 400 17px/20px $font-leto 
    margin: 0 
  &__item
    &--1
      background: url(../img/slider1.jpg) no-repeat
      +cover
    &--2
      background: url(../img/slider1.jpg) no-repeat
      +cover
    &--3
      background: url(../img/slider1.jpg) no-repeat
      +cover
.item
  padding: 90px 0 150px    
+rx(767)
  .slider
    &__heading
      margin-bottom: 45px
  .item
    padding: 130px 0 200px
+r(768)
  .item
    padding: 150px 0 260px
  .carousel
    &-indicators
      left: 45%
      bottom: 115px
+r(960)
  .slider
    &__heading
      margin-bottom: 40px
      font: 400 44px/48px $font-leto
  .item
    padding: 200px 0 360px
  .carousel
    &-indicators
      bottom: 200px  
+r(1200)
  .item
    padding: 200px 0 320px
+cm("header box style")  
.header
  position: relative
  &__link
    display: inline-block
    background-color: #343434
    color: #fff
    text-align: center
    height: 43px
    width: 43px  
    margin-right: 5px
    .fa
      font-size: 20px
      line-height: 40px 
  &__btn
    background-color: #223a5f
    border-radius: 21px
    box-shadow: 0 35px 29px rgba(18, 45, 79, 0.15)
    color: #fff
    padding: 12px 20px 10px 25px
    font: 400 17px/20px $font-leto-bold 
    transition: all .3s ease-out
    &:hover,
    &:focus
      background-color: #223a5f * 1.2 
    .ic
      margin-left: 15px  
.form
  position: relative
  padding: 30px 45px 45px
  background-color: #fff
  box-shadow: 0 30px 29px rgba(41, 41, 41, 0.16)
  border-top: 5px solid #ba3742
  z-index: 1
  &__head
    padding: 0 15px
    margin-bottom: 12px
    text-align: center
    &ing
      color: #282828
      font: 400 17px/18px $font-leto  
      margin-bottom: 10px
  &__subheading
    color: #ba3742
    font: 400 21px/22px $font-leto-bold    
  &__input
    background-color: #f9f9f9
    border: 1px solid #e4e4e4
    border-radius: 43px    
    padding: 17px 36px
    &:focus
      border-color: inherit
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(168, 31, 44, 0.15)
  &__number
    display: block
    border: 1px dashed #223a5f
    border-radius: 26px  
    padding: 16px 10px 16px 30px
    color: #122d4f
    font: 400 24px/26px $font-leto  
    &:hover,
    &:focus
      text-decoration: none     
.header-content
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  padding-top: 55px
  &__container
    position: relative
    height: 100%
  &__col
    position: absolute
    margin-bottom: 40px
    top: 0
    height: 100%
  &__btn-group
    position: absolute
    margin-bottom: 25px
    bottom: 0
.scroll
  position: absolute
  bottom: 180px
  display: inline-block
  width: 200px
  &__text
    color: #fff
    font: 400 11px/12px $font-leto 
    float: left
    width: 160px
  &__icon
    float: left
    width: 27px
    margin-right: 13px   
+rx(767)   
  .header-content
    &__btn-group
      text-align: center
    &__form
      padding:
        left: 15px
        right: 15px
  .header  
    &__btn
      margin: 15px 10px
  .form  
    &__register  
      font: 400 18px/20px $font-leto-bold
    &__number
      padding: 16px 18px 16px 18px
      text-align: center
+r(768)
  .form
    &__number
      font: 400 16px/20px $font-leto  
  .header-content
    &__btn-group
      margin-bottom: 115px
+r(960)
  .header-content
    &__btn-group
      position: relative
      margin: 0
      text-align: center
    &__col
      height: auto
      top: auto
      bottom: 0 
  .form
    &__head
      padding: 0 30px
    &__subheading
      font: 400 30px/32px $font-leto-bold
    &__number
      font: 400 24px/26px $font-leto  
+r(1200)      
  .header
    &__btn
      font: 400 22px/24px $font-leto-bold   
+cm("section intro style") 
.intro
  padding: 30px 0 40px
  background: url(../img/introbg.jpg) repeat
  color: #fff
  text-align: center
  &__heading
    font: 400 14px/20px $font-leto-thin
    margin-bottom: 20px
  &__subheading  
    font: 400 16px/20px $font-leto-bold
    margin-bottom: 20px
  &__btn
    min-width: 280px
    padding: 20px 0   
+r(768) 
  .intro
    padding: 60px 0 40px  
    &__heading
      margin-bottom: 25px
    &__subheading
      margin-bottom: 25px    
+r(960)
  .intro
    padding: 90px 0 65px    
    &__heading
      margin-bottom: 40px
    &__subheading
      margin-bottom: 40px  
+cm("section format style")  
.format
  padding: 30px 0    
  background-color: #fafafa
  &__col
    outline: none
  &__heading
    margin-bottom: 30px
  &__text
    text-align: center
    color: #131313
    font: 400 15px/18px $font-leto 
  &__box
    padding: 20px 0 20px
  &__image
    text-align: center
    margin-bottom: 20px    
+r(768) 
  .format
    padding: 50px 0
    &__col
      border-bottom: 1px solid #d6d6d6
      border-left: 1px solid #d6d6d6
      margin: 0 0 -1px -1px
      border-collapse: collapse
    &__slider
      overflow: hidden
    &__box
      padding: 30px 0 30px     
+r(960) 
  .format  
    padding: 80px 0 50px
    &__box
      padding: 50px 0 60px 
+r(1200)   
  .format
    padding: 80px 0 100px  
+cm("section teachers style")
.teacher
  padding: 30px 0 45px
  &__slider
    .slick
      &-slide
        padding: 0 10px
      &-list 
        margin: 0 -5px  
      &-prev
        left: -32px
      &-next
        right: -32px    
  &__box
    text-align: center
    border: 1px solid #e4e4e4
    padding-bottom: 25px
    margin-bottom: 20px
  &__heading
    margin-bottom: 30px  
  &__video 
    margin: -1px -1px 30px
  &__name
    margin-bottom: 15px
    color: #131313
    font: 400 24px/26px $font-leto-bold
  &__country
    margin-bottom: 15px  
    color: #666  
    font: 400 12px/14px $font-leto
  &__skills 
    color: #666  
    font: 400 12px/14px $font-leto 
    margin-bottom: 20px
    &:after
      content: ''
      display: block
      margin: 0 auto
      width: 54px
      height: 2px
      background-color: #666
      margin-top: 18px
  &__link
    color: #223a5f  
    font: 400 15px/18px $font-leto-bold  
    &:hover,
    &:focus
      text-decoration: none
.video
  &__box
    &--slider
      padding-bottom: 56.3%
+r(768)    
  .teacher
    padding: 40px 0 45px  
    &__slider
      .slick
        &-prev
          left: -70px
        &-next
          right: -70px    
+r(960)      
  .teacher
    padding: 70px 0 100px
    &__slider
      .slick
        &-prev
          left: -21px
        &-next
          right: -21px    
+r(1360)      
  .teacher
    &__slider
      .slick
        &-prev
          left: -54px
        &-next  
          right: -54px 
+cm("section about style")  
.about
  padding: 45px 0  
  background: #ebebeb url(../img/aboutbg.png) no-repeat
  +cover
  &__heading
    margin-bottom: 40px
    position: relative
  &__bg-text
    position: absolute
    top: -3px
    left: -20px  
    font: 400 51px/51px $font-leto-bold
    color: #f2f2f3
    text-transform: uppercase
    z-index: -1
  &__item
    list-style-type: none
  &__text
    display: block
    color: #131313  
    font: 400 16px/19px $font-leto
    margin-bottom: 25px
    &--span
      font-family: $font-leto-bold
    &--position
      float: left  
      width: 92%
  &__list
    padding-left: 0    
  &__box
    position: relative
    padding: 35px 25px 0  
    border: 3px dashed #dacccd
    border-radius: 4px
    margin-bottom: 65px 
    .ic
      position: absolute
  &__btn
    display: block
    margin: 0 auto   
    padding: 30px
  &__video
    margin-bottom: 30px  
.video
  &__box
    &--about
      padding-bottom: 78%
.ic
  &--like320
    bottom: -60px
    left: -10px      
  &--like760
    bottom: -120px
    left: -60px
+rx(767)
  .about
    &__video
      margin: 0 -15px 30px
+r(768)  
  .about
    padding: 45px 0 60px
    &__heading
      margin-bottom: 30px
      &:after
        content: ''
        display: block
        height: 12px
        width: 12px
        margin: 0 auto
        background-color: #f1e2e4
        border-radius: 50%
        margin-top: 20px
    &__list
      text-align: center  
    &__box
      padding: 50px 30px 10px
    &__btn
      min-width: 550px  
      position: relative
      top: -80px
    &__video
      color: #e7e7e7
      box-shadow: -12px 12px #e7e7e7, 12px 12px #e7e7e7
+r(960)     
  .about
    &__text
      font: 400 24px/32px $font-leto
    &__bg-text  
      left: 50%
      top: -30px
      margin-left: -130px
      font: 400 71px/71px $font-leto-bold
    &__list
      text-align: left
    &__item
      &:before
        content: ''
        display: inline-block
        height: 10px
        width: 10px
        border-radius: 50%
        background-color: #ffefef
        margin: 10px 20px 0 0 
        float: left
    &__box
      padding: 55px 60px 30px
    &__btn
      position: static
      min-width: 660px  
+r(1200)      
  .about
    padding: 100px 0 90px
+cm("section blog style")  
.blog
  background-color: #ebebeb
  padding: 50px 0 25px
  &__heading
    margin-bottom: 65px
    position: relative
  &__bg-text
    position: absolute
    top: -35px
    left: 50%
    margin-left: -100px
    text-transform: uppercase
    color: #f2f2f3
    font: 400 51px/51px $font-leto-bold
    z-index: -1
  &__box
    padding: 20px 18px 25px 
    background-color: #fff
  &__naming
    color: #d9d9d9
    font: 400 14px/16px $font-leto
    margin: 0 0 20px
  &__title
    color: #223a5f  
    font: 400 16px/18px $font-leto
    margin-bottom: 20px
  &__info
    color: #282828
    font: 400 14px/16px $font-leto
  &__slider
    margin-bottom: 30px  
  &__item
    padding: 0 10px    
  &__btn
    display: inline-block
    padding: 22px 0
    border: 2px solid #d9d9d9
    border-radius: 43px
    box-shadow: none
    color: #d9d9d9 
    background-color: transparent
    font: 400 16px/17px $font-leto-bold
    min-width: 220px
    &:focus
      box-shadow: 0 35px 29px rgba(168, 31, 44, 0.15) 
+r(768)  
  .blog  
    padding: 70px 0 40px
    &__heading
      margin-bottom: 35px
      &:after
        content: ''
        display: block
        margin: 0 auto
        height: 12px
        width: 12px
        border-radius: 50%
        background-color: #d9d9d9
        margin-top: 10px
    &__naming
      margin-bottom: 25px
    &__slider
      margin-bottom: 45px 
      .slick
        &-next
          right: -15px
        &-prev
          left: -15px  
    &__btn
      padding: 25px 0  
+r(960)     
  .blog
    padding: 85px 0 70px
    &__heading
      &:after
        margin-top: 30px
    &__bg-text    
      color: #c5c5c5
      font: 400 70px/70px $font-leto-bold
    &__title
      margin-bottom: 25px  
    &__naming  
      margin-bottom: 20px
      &:after
        content: ''
        display: block
        height: 2px
        width: 85%
        background-color: #e3e3e3  
        margin-top: 7px
    &__slider
      margin-bottom: 50px 
      .slick
        &-next
          right: -21px
        &-prev
          left: -21px    
    &__btn
      font: 400 22px/24px $font-leto-bold  
+r(1360)     
  .blog
    &__slider
      .slick
        &-next
          right: -50px
        &-prev
          left: -50px          
+cm("section subscribe style")    
.subscribe
  padding: 25px 0 35px  
  background: url(../img/subscribebg.jpg) no-repeat
  +cover
  &__heading
    margin-bottom: 25px
    color: #fff
    &:after
      content: ''
      display: block
      margin: 0 auto
      height: 12px
      width: 12px
      border-radius: 50%
      background-color: #aa2337
      margin-top: 20px    
  &__btn
    padding: 19px 40px 18px
    width: 100%
  &__input
    font: 400 16px/18px $font-leto    
    padding: 18px 10px 18px 45px 
    border: 3px solid #d9d9d9
    box-shadow: 0 35px 29px rgba(168, 31, 44, 0.15)
    background: transparent 
    color: #fff
    margin-bottom: 20px
    border-radius: 43px
+r(768) 
  .subscribe
    padding: 45px 0 60px
    &:after
      margin-top: 30px
    &__group
      position: relative
      height: 60px
    &__input
      height: 100%
    &__btn
      position: absolute
      width: auto
      top: 0
      right: 0
      height: 100%
+r(960)   
  .subscribe
    padding: 45px 0 55px
    &__heading
      margin-bottom: 40px
    &__input
      font: 400 19px/20px $font-leto 
+cm("footer style")    
.footer
  padding-top: 47px
  padding-bottom: 47px
  background-color: #223a5f
  &__logo
    position: relative
    width: auto
    float: right
  &__social
    margin-top: 75px
    text-align: left
.f-nav
  &__heading
    display: inline-block
    margin: 20px 0
    color: #fff
    font: 400 17px/20px $font-leto  
  &__link
    display: inline-block
    font: 400 13px/20px $font-leto
    color: #d0e2ff
+rx(767)
  .footer
    &__social
      margin-top: 36px
      text-align: center
    &__logo
      position: relative
      float: none
  .f-nav
    text-align: center
    &__heading
      &--space
        margin: 7px 0 8px
+r(960)
  .footer
    &__social
      margin-top: 55px
      text-align: right
    &__logo
      margin-top: 20px
      float: none
  .f-nav
    &__heading
      font: 400 15px/18px $font-leto
+r(1200)
  .footer
    &__logo
      display: inline-block
+comment('page teachers style')      
.teachers
  &__text
    margin-bottom: 30px
  &__list
    padding-left: 15px
  &__item
    padding-left: 10px   
    color: #282828
    font: 400 14px/16px $font-leto 
+r(768)   
  .teachers
    &__item  
      font: 400 18px/20px $font-leto
      padding-left: 30px  
+comment('page lecturer style')  
.l-intro
  background: url(../img/lecturerbg.jpg) no-repeat
  +cover
  padding: 45px 0 15px
  &--color
    color: #fff
.lecturer
  &__profile
    padding-top: 20px   
  &__price
    background-color: #fefaee
    text-align: center 
    position: fixed
    bottom: 0
    width: 100%
    margin-left: -15px
    z-index: 25
  &__btn
    background-color: #52ac62
    color: #fff
    box-shadow: none
    font: 400 9px/10px $font-leto-bold
    padding: 15px 25px
    &--size
      margin-bottom: 25px
      min-width: 220px
      font: 400 14px/16px $font-leto-bold
  &__text
    margin-bottom: 20px
  &__video
    margin: 0 -15px
  &__contact    
    border: 3px dashed #dacccd
    border-radius: 4px
    padding: 35px 30px 20px
    margin-top: 35px
    text-align: center
.video
  &__box
    &--lecturer
      padding-bottom: 63%  
.share
  text-align: right 
  &__link
    &--print
      margin-right: 20px    
    &--intro
      display: inline-block  
      margin: 15px
.l-point
  &__item
    display: inline-block
    margin-right: 20px
  &__link
    position: relative
    padding-bottom: 3px
    border-bottom: 1px dashed #223a5f
    color: #223a5f
    font: 400 14px/25px $font-leto  
    &:before
      content: ''
      position: absolute
      display: block
      margin-bottom: -1px
      left: 0
      bottom: 0
      height: 1px
      width: 0
      background-color: #223a5f 
      transition: all .3s ease-out
    &:hover,
    &:focus
      text-decoration: none
      &:before
        width: 100%
.l-profile 
  color: #282828
  font: 400 12px/18px $font-leto
  &__row
    margin-bottom: 5px  
  &__value
    font-family: $font-leto-bold
.l-price
  margin-top: 15px
  padding: 30px 15px 20px 
  &--closed
    display: none
  &__link
    display: block
    color: #223a5f
    font: 400 10px/12px $font-leto-bold
    text-decoration: underline  
    margin-top: 15px
  &__text
    display: inline-block
    font: 400 9px/9px $font-leto
  &__value
    color: #282828 
    font: 400 18px/18px $font-leto 
  &__close
    position: absolute
    display: inline-block
    top: 10px
    right: 15px  
    cursor: pointer
    color: #000
    &:hover
      color: #ba3742  
.bookmark
  &__icon
    color: #ebe7db
    font-size: 48px
    line-height: 48px
    &:before
      content: "\f006"
    &--active
      color: #ffbf00
      opacity: 0
      transition: all .3s ease-out 
      &:before
        content: "\f005" 
    &.bookmark__icon--active
      opacity: 1   
+r(768)    
  .lecturer
    &__contact
      padding: 30px 0 25px
    &__video
      margin: 0 0 20px  
    &__price
      position: static
      margin: 0
      width: auto  
    &__btn 
      font: 400 14px/18px $font-leto-bold
      padding: 15px 30px
      &--size
        min-width: 320px
  .l-price
    &__text  
      font: 400 13px/16px $font-leto
    &__value  
      font: 400 30px/30px $font-leto 
    &__link
      font: 400 14px/16px $font-leto  
+r(960)     
  .lecturer 
    &__btn  
      font: 400 16px/18px $font-leto-bold
    &__col   
      float: right 
  .l-price
    &__link
      font: 400 16px/18px $font-leto   
  .l-profile
    font-size: 18px
    line-height: 20px
+comment('page programs style')
.program
  &__title
    margin: 20px 0
    color: #282828
    font: 400 26px/28px $font-leto 
  &__text
    color: #282828
    font: 400 18px/20px $font-leto 
    &--large
      font: 400 26px/34px $font-leto-bold
  &__btn
    margin-top: 20px
.lesson
  margin: 30px 0
  &__item
    position: relative
    margin: 15px 0
    overflow: hidden
    transition: all .3s ease-out
    &:hover
      transform: translateY(-20px) scale(1.3)
      box-shadow: 0 60px 100px 0 rgba(34, 58, 96, 0.44)
      z-index: 3
      .lesson__img
        filter: blur(15px)
      .lesson__label
        opacity: 0
      .lesson__icon
        &--1
          width: image-width('icons/prog1.png') / 2
          height: image-height('icons/prog1.png') / 2
        &--2
          width: image-width('icons/prog2.png') / 2
          height: image-height('icons/prog2.png') / 2
        &--3
          width: image-width('icons/prog3.png') / 2
          height: image-height('icons/prog3.png') / 2
        &--4
          width: image-width('icons/prog4.png') / 2
          height: image-height('icons/prog4.png') / 2
        &--5
          width: image-width('icons/prog5.png') / 2
          height: image-height('icons/prog5.png') / 2
      .lesson__btn
        display: inline-block
        padding: 18px 40px
        font: 400 20px/22px $font-leto-bold
        opacity: 1
  &__box
    position: relative
    padding: 45px 35px 55px
    z-index: 3
  &__img
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    transition: all .3s ease-out
    &:before
      content: ''
      +coverdiv
      background-color: rgba(0,0,0,.5)
      box-shadow: 0 -150px 75px rgba(0, 0, 0, 0.72) inset
    &--1
      background: #eee url(../img/lesson1.jpg) no-repeat scroll left bottom
      background-size: cover
    &--2
      background: #eee url(../img/lesson2.jpg) no-repeat scroll left bottom
      background-size: cover
    &--3
      background: #eee url(../img/lesson3.jpg) no-repeat scroll left bottom
      background-size: cover
    &--4
      background: #eee url(../img/lesson4.jpg) no-repeat scroll left bottom
      background-size: cover
    &--5
      background: #eee url(../img/lesson5.jpg) no-repeat scroll left bottom
      background-size: cover
  &__label
    position: absolute
    padding: 25px
    top: 0
    right: 0
    width: 190px
    background-color: #05739c
    font: 400 16px/23px $font-leto-bold
    color: #fff
    opacity: 1
    transition: opacity .2s ease-out
    z-index: 5
  &__icon
    transition: all .3s ease-out
    +contain
    &--1
      background-image: inline-image('icons/prog1.png','image/png')
      width: image-width('icons/prog1.png')
      height: image-height('icons/prog1.png')
    &--2
      background-image: inline-image('icons/prog2.png','image/png')
      width: image-width('icons/prog2.png')
      height: image-height('icons/prog2.png')
    &--3
      background-image: inline-image('icons/prog3.png','image/png')
      width: image-width('icons/prog3.png')
      height: image-height('icons/prog3.png')
    &--4
      background-image: inline-image('icons/prog4.png','image/png')
      width: image-width('icons/prog4.png')
      height: image-height('icons/prog4.png')
    &--5
      background-image: inline-image('icons/prog5.png','image/png')
      width: image-width('icons/prog5.png')
      height: image-height('icons/prog5.png')
  &__title
    margin: 20px 0
    font: 400 25px/33px $font-leto-bold
    color: #fff
  &__descr
    margin: 12px 0
    font: 400 14px/16px $font-leto-bold
    color: #fff
  &__btn
    display: none
    margin: 10px 0
    opacity: 0
    background-color: #223a60
    box-shadow: none
    transition: opacity .3s ease-out
    &:hover,
    &:focus
      background-color: #223a60 * 1.8
+rx(767)
  .program
    &__text
      &--large
        font: 400 13px/15px $font-leto
  .lesson
    margin: 25px 0
    &__item
      margin: 0 -15px
      &:hover
        transform: translateY(0)
        .lesson__img
          filter: blur(8px)
    &__box
      padding: 15px 20px
    &__icon
      &--1
        width: image-width('icons/prog1.png') / 2
        height: image-height('icons/prog1.png') / 2
      &--2
        width: image-width('icons/prog2.png') / 2
        height: image-height('icons/prog2.png') / 2
      &--3
        width: image-width('icons/prog3.png') / 2
        height: image-height('icons/prog3.png') / 2
      &--4
        width: image-width('icons/prog4.png') / 2
        height: image-height('icons/prog4.png') / 2
      &--5
        width: image-width('icons/prog5.png') / 2
        height: image-height('icons/prog5.png') / 2

    &__title
      font: 400 18px/18px $font-leto-bold 
    &__descr
      font: 400 13px/15px $font-leto-bold  
+comment('page program style')     
.program
  &-intro
    padding-top: 55px
    background: url(../img/programbg.jpg) no-repeat
    +cover
    padding-bottom: 110px
    &__heading
      color: #fff
      margin-bottom: 10px
.project
  padding: 80px 0 20px   
  &__title
    margin-bottom: 20px   
  &__text
    margin-bottom: 20px
  &__list
    padding-left: 20px  
    margin-bottom: 20px  
  &__item
    padding-left: 10px
    margin-bottom: 8px 
  &--height
    margin: 0 -15px  
.form
  &--size
    padding: 20px 35px 
    position: absolute
    top: 70px   
    left: 50%
    width: 290px
    margin-left: -145px
+r(768)
  .program
    &-intro
      padding-bottom: 0
  .form
    &--size 
      position: static
      width: auto
      margin: 0 0 50px 
      padding: 30px 45px 45px
  .project
    padding: 30px 0    
    &__list
      padding-left: 40px
+r(960)      
  .project
    &--height
      margin: 0 0 20px
+comment('service page style')  
.service    
  &__box
    padding: 40px 25px 30px
    text-align: center
    border: 1px solid #e1e1e1
    margin-bottom: 15px
  &__title
    display: block
    color: #223a5f  
    font: 400 10px/12px $font-leto-bold 
    margin-bottom: 15px
  &__text  
    color: #282828
    font: 400 8px/10px $font-leto
  &__icon
    display: inline-block
    margin-bottom: 15px  
  &__icon
    i
      display: inline-block
    &--1
      height: 61px
      width: 50px
      background: url(../img/icons/service1.png) no-repeat
      +contain
    &--2
      height: 64px
      width: 42px
      background: url(../img/icons/service2.png) no-repeat 
      +contain
    &--3
      height: 71px
      width: 70px
      background: url(../img/icons/service3.png) no-repeat
      +contain
    &--4
      height: 67px
      width: 60px
      background: url(../img/icons/service4.png) no-repeat
      +contain     
+r(768)  
  .service
    &__box
      padding: 45px 30px 30px
      margin-bottom: 30px
    &__title
      font: 400 11px/15px $font-leto-bold 
    &__text
      font: 400 10px/12px $font-leto
    &__icon
      margin-bottom: 20px  
      &--1
        height: 72px
        width: 58px
      &--2
        height: 75px
        width: 51px
      &--3
        height: 82px
        width: 78px
      &--4
        height: 87px
        width: 68px
+r(960)      
  .service
    &__box
      padding: 65px 30px 55px
    &__title
      font: 400 17px/22px $font-leto-bold 
      margin-bottom: 25px
    &__text 
      font: 400 15px/18px $font-leto
    &__icon
      margin-bottom: 25px  
      &--1
        height: 105px
        width: 84px
      &--2
        width: 80px
        height: 108px
      &--3
        height: 125px
        width: 118px
      &--4
        height: 117px
        width: 105px
+comment('t-service page style')   
.t-service
  &__box
    margin-bottom: 15px
  &__icon
    &--1
      display: inline-block
      float: left
      margin: 0 10px 10px 0
      height: 102px
      width: 84px
      background: url(../img/icons/service1.png) no-repeat 
      +contain  
+r(768)         
  .t-service
    &__box
      margin-bottom: 25px
+r(960)        
  .t-service
    &__box
      margin-bottom: 45px
+comment('comment page style')  
.comment
  &__slider
    &.slick-dotted
      margin-bottom: 100px
    .slick-dots
      bottom: -40px  
  &__item
    text-align: center
    padding: 30px 15px 20px
    background-color: #f6f7fa
  &__text 
    font: 400 11px/13px $font-leto
    margin-bottom: 25px
    &:before
      display: inline-block
      position: relative
      top: -10px
      left: -5px
      content: '\f10d'
      font-family: $font-awesome
      color: #ccced1
      font-size: 12px
    &:after
      display: inline-block
      position: relative
      bottom: -10px
      right: -5px
      content: '\f10e'
      font-family: $font-awesome
      color: #ccced1 
      font-size: 12px
  &__icon
    height: 140px
    width: 140px
    margin-bottom: 30px 
  &__author  
    font: 400 11px/13px $font-leto
    margin-bottom: 10px
  &__post 
    color: #aaadb0
    font: 400 10px/12px $font-leto
.work
  &__title 
    margin-bottom: 20px 
  &__text
    margin-bottom: 30px  
  &__img
    text-align: center
    img
      display: inline-block  
  &__slider
    &.slick-dotted
      margin-bottom: 95px 
    .slick-dots    
      bottom: -45px 
+r(768)
  .comment
    &__slider
      &.slick-dotted
        margin-bottom: 80px
    &__item
      padding: 40px 15px 20px
    &__text
      font: 400 13px/15px $font-leto
      margin-bottom: 45px
    &__author  
      font: 400 13px/15px $font-leto
  .work
    &__slider
      &.slick-dotted
        margin-bottom: 125px
    &__title
      margin-bottom: 35px 
    &__text
      margin-bottom: 45px  
+r(960)     
  .comment
    padding: 45px 25px 25px
    &__text
      font: 400 17px/21px $font-leto  
      margin-bottom: 35px 
  .work
    margin-bottom: 100px
+comment('contact page style')
.t-contact
  &__title
    margin-bottom: 30px
  &__contact
    &__slider
      &.slick-dotted
    background: transparent
    padding: 0
    margin-bottom: 35px
.map
  box-shadow: -15px 15px #e7e7e7, 15px 15px #e7e7e7
+r(768)   
  .t-contact
    width: 80%
    &__title
      margin-bottom: 50px
+rx(959)
  .content
    &--contact
      position: relative
      padding: 50px 0 100px
  .t-contact
    position: relative
    margin: 0
    padding: 25px 0
    background-color: #fff
    z-index: 3
  .social
    &--contact
      position: absolute
      margin-top: 45px
  .map
    &__frame
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
+r(960)      
  .t-contact
    width: auto
    &__contact
      margin-bottom: 50px  
+comment('cost page style') 
.cost  
  &__text
    margin-bottom: 25px     
  &__title
    margin-bottom: 25px
  &-table
    text-align: center
    &__row
      padding: 30px 15px 10px
      border: 1px solid #e6e6e6
      margin: 0 15px 15px
    &__cell
      margin-bottom: 25px  
      &--accented
        display: inline-block
        position: relative
        font-family: $font-leto-bold 
    &--ic
      position: absolute
      right: -25px
      top: -25px
      height: 25px
      width: 25px
      background: url(../img/icons/star.png) no-repeat
      +contain
    &--span  
      color: #8b8b8b
      font: 400 12px/14px $font-leto 
.radio
  &-btn
    &__control
      display: none
      &:checked
        & + .radio-btn__box
          .radio-btn__icon
            &:before 
              content: ''
              border-radius: inherit
              background-color: #88be69
              height: 22px
              width: 22px
              position: absolute
              left: 0
              top: 0    
            &:after
              position: absolute
              content: '\f00c'
              font-family: $font-awesome  
              font-size: 16px
              color: #fff
              width: 22px
              height: 22px
              line-height: 22px
              text-align: center 
              left: 0
              top: 0                   
    &__icon  
      position: relative
      display: inline-block
      height: 22px
      width: 22px
      margin-bottom: -4px
      margin-right: 10px
      background-color: #e6e6e6
      border-radius: 50%
.calculator       
  &__title
    font: 400 26px/30px $font-leto 
    margin-bottom: 30px
    text-align: center
  &__amount
    text-align: center  
    margin-bottom: 20px
  &__radio
    display: inline-block
  &__duration
    text-align: center
    margin-bottom: 20px 
  &__heading
    text-align: center    
  &__group
    border-bottom: 2px solid #dacccd 
    margin-bottom: 20px
  &__select-box
    margin-bottom: 25px     
  &__btn  
    background-color: #52ac62   
    color: #fff
    box-shadow: none 
    width: 100%
    margin-bottom: 18px
    &:hover,
    &:focus
      background-color: #52ac62 * 1.2
  &__input    
    background-color: #fffdda
    border-radius: 43px
    font: 400 16px/18px $font-leto    
    padding: 12px 10px 12px 25px 
    border: 0
    color: #282828
    width: 100%
    &--margin
      margin-bottom: 18px
.metro
  &__select
    position: relative
    z-index: 102
.distance
  &__select
    position: relative
    z-index: 101   
.cs
  &-placeholder
    font: 400 14px/16px $font-leto  
    color: #282828  
  &-select
    span  
      font: 400 14px/16px $font-leto      
+r(768)  
  .cost
    &__title
      font: 400 20px/24px $font-leto  
      margin-bottom: 40px 
    &-table
      margin-bottom: 30px
      &--760row
        border-right: 1px solid #e6e6e6
        display: table
      &__row
        margin-bottom: 0
        padding: 0
        &--bg
          background-color: #f9f9f9
      &__cell
        margin-bottom: 0   
        padding: 30px 0 25px
        display: table-cell
        vertical-align: middle
        &--left
          text-align: left    
          padding-left: 35px
          padding-right: 35px
      &--span  
        font: 400 16px/18px $font-leto 
  .calculator
    &__title
      text-align: left  
      margin-bottom: 60px  
    &__heading
      text-align: left 
      margin-bottom: 15px
    &__group  
      border: 0   
      margin-bottom: 0
      padding-left: 10px
    &--border  
      border-left: 2px solid #dacccd 
    &--padding
      padding-top: 50px  
  .distance__select
    margin-bottom: 0    
+r(960)
  .cost
    &__title
      font: 400 26px/30px $font-leto   
    &-table
      margin-bottom: 40px 
      &--text   
        display: inline-block
      &--span
        display: block
        margin-top: 5px   
+comment('for-teacher page style') 
.f
  &-heading
    color: #ba3742
    font: 400 22px/25px $font-leto      
    margin: 0 0 25px
  &-subheading  
    color: #282828
    font: 400 18px/20px $font-leto-thin
    margin-bottom: 15px
  &-text
    color: #282828
    font: 400 14px/18px $font-leto 
    margin-bottom: 15px
  &-list
    padding-left: 15px  
  &-item
    padding-left: 25px
    color: #282828
    font: 400 14px/18px $font-leto   
  &-teacher__video
    float: right
    width: 100%
    height: auto
    margin-bottom: 20px
  &-contact
    padding: 50px 0
    background-color: #122d4f  
    &__heading
      color: #fff   
      font: 400 28px/30px $font-leto-thin 
      margin-bottom: 30px
      text-align: center
    &__title
      color: #3b5677
      font: 400 14px/18px $font-leto
      margin-bottom: 15px
    &__union
      color: #3b5677
      font: 400 27px/30px $font-leto-thin  
      text-align: center
      margin: 25px 0
    &__email,
    &__phone
      text-align: center  
    &__link
      font: 400 14px/18px $font-leto
      color: #fff 
      &:hover,
      &:focus
        color: #ba3742
        text-decoration: none
.video
  &__box
    &--teacher
      padding-bottom: 50%
+r(768)
  .f
    &-contact
      &__heading  
        font: 400 37px/40px $font-leto-thin  
        margin-bottom: 50px      
    &-teacher__video
      max-width: 370px
      margin: 20px 0 20px 20px
+r(960)  
  .f-teacher__video
    max-width: 450px 
+r(1200)
  .f-teacher__video
    max-width: 550px       