+comment('general style')
+font('LetoSans', 'LetoSans')
+font('LetoSansThin', 'LetoSansThin')
+font('LetoSansBold', 'LetoSansBold')
+ic
@each $ic in uk, scroll, format1, format2, format3, format4, format5, format6
  .ic--#{$ic}
    +sb(#{$ic})
html
  position: relative
  min-height: 100%
  height: 100%
.body
  min-height: 100%
  padding-bottom: $footer-height
  padding-top: 93px
  transition: .3s transform ease-out
  &--collapsed
    overflow: hidden
    transform: translateX(-$collapse-width)
  
.heading
  color: #131313
  font: 400 24px/30px $font-leto-thin
  text-align: center
  margin: 0
  &--text
    display: inline-block
    padding: 8px 8px 6px 15px
    background-color: rgba(226,248,62,0.25)
+r(768)
  .heading
    font: 400 28px/38px $font-leto-thin 
+r(992)   
  .heading 
    font: 400 37px/45px $font-leto-thin
+rx(991)
  .container-fluid
    & > .navbar-header
      margin-right: -15px
      margin-left: -15px 
  .navbar-header
    float: none
  .navbar-left,
  .navbar-right 
    float: none !important
  .navbar-fixed-top
    top: 0
    border-width: 0 0 1px
  .navbar-nav
    float: none!important
    margin-top: 7.5px
  .navbar-nav>li
    float: none
  .navbar-nav>li>a
    padding-top: 10px
    padding-bottom: 10px
+comment("home page style")
+cm("navbar style")
.navbar
  position: absolute
  top: 0  
  left: 0
  right: 0
  background-color: $navbar-bg
  text-align: center
  &__container
    position: relative
.navbar-toggle
  margin: 25px
  &--open
    .navbar-toggle__lines
      background: transparent
      transform: scale3d(0.8, 0.8, 0.8)
      &:before,
      &:after
        transform-origin: 50% 50%
        top: 0
      &:before
        transform: rotate3d(0, 0, 1, 45deg)
      &:after
        transform: rotate3d(0, 0, 1, -45deg)
  &__lines,
  &__lines:before,
  &__lines:after
    display: inline-block
    background-color: #f6f7fb
  &__lines
    position: relative
    width: 30px
    height: 5px
    &:before,
    &:after
      content: ''
      position: absolute
      left: 0
      width: 100%
      height: 100%
      transition: .3s all ease-out
    &:before
      top: 8px
    &:after
      top: -8px

.nav
  &__link
    display: inline-block
    color: #fff
    text-transform: uppercase  
    font: 400 13px/16px $font-leto-bold
    transition: all .3s ease-out
.logo
  background-color: #223a5f
  box-shadow: 0 30px 29px rgba(41, 41, 41, 0.16)
.phone,
.email
  padding: 28px 0
  text-align: left
  &__text
    color: #fff
    font: 400 11px/15px $font-leto 
  &__link
    color: #fff
    font: 400 14px/16px $font-leto 
    &:hover,
    &:focus
      text-decoration: none
      color: #fff  
.social
  &__list
  &__item
    display: inline-block
    vertical-align: top
    padding: 2px
  &__link
    display: block
    width: 50px
    height: 50px
    background-color: #343434
    text-align: center
    &--footer
      background-color: #192840
  &__icon
    color: #fff
    font-size: 25px
    line-height: 50px
+rx(991)
  .nav
    &__link
      display: block
      padding: 10px 0
  .navbar
    &__logo
      margin-left: 15px
  .navbar-toggle
    display: block
  .collapse
    position: fixed
    top: 0
    left: 100%
    width: $collapse-width
    height: 100vh
    overflow-y: auto
    padding:
      top: 25px
      bottom: 25px
    background: $navbar-bg
    &--open
      display: block
  .logo
    position: absolute
    left: 0
    top: 0
    width: 200px
+r(992)
  .nav
    &__item
      padding: 23px 15px
  .navbar-header
    position: absolute
    left: 50%
    transform: translateX(-50%) 
  .collapse
    display: block
  .logo
    width: 185px
+r(1200)
  .nav
    &__item
      padding: 30px 15px
  .logo
    width: auto
+cm("header slider style")   
.slider
  &__heading 
    color: #fff
    font: 400 28px/32px $font-leto
    margin: 0 0 25px
    text-transform: uppercase
  &__subheading
    color: #fff
    font: 400 17px/20px $font-leto 
    margin: 0 
  &__item
    &--1
      background: url(../img/slider1.jpg) no-repeat
      +cover
    &--2
      background: url(../img/slider1.jpg) no-repeat
      +cover
    &--3
      background: url(../img/slider1.jpg) no-repeat
      +cover
.item
  padding: 90px 0 150px    
+r(768)
  .slider
    &__heading
      margin-bottom: 45px
  .item
    padding: 110px 0 170px
+r(992)
  .slider
    &__heading
      margin-bottom: 40px
      font: 400 44px/48px $font-leto
  .item
    padding: 200px 0 280px
+cm("header box style")  
.header
  position: relative
  &__container
    position: relative
  &__col
    position: absolute
    bottom: -122px
  &__box
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    padding-top: 35px
  &__link
    display: inline-block
    background-color: #343434
    color: #fff
    text-align: center
    height: 43px
    width: 43px  
    margin-right: 5px
    .fa
      font-size: 20px
      line-height: 40px 
  &__form
    padding: 30px 45px 45px
    background-color: #fff
    box-shadow: 0 30px 29px rgba(41, 41, 41, 0.16)
    border-top: 5px solid #ba3742
.form
  &__head
    padding: 0 15px
    margin-bottom: 12px
    text-align: center
    &ing
      color: #282828
      font: 400 17px/18px $font-leto  
      margin-bottom: 10px
  &__subheading
    color: #ba3742
    font: 400 21px/22px $font-leto-bold    
  &__input
    background-color: #f9f9f9
    border: 1px solid #e4e4e4
    border-radius: 27px    
    padding: 16px 10px 16px 25px
  &__number
    display: block
    border: 1px dashed #223a5f
    border-radius: 26px  
    padding: 16px 10px 16px 30px
    color: #122d4f
    font: 400 24px/26px $font-leto  
    &:hover,
    &:focus
      text-decoration: none 
.btn
  &__teacher
    background-color: #223a5f
    border-radius: 21px
    box-shadow: 0 35px 29px rgba(18, 45, 79, 0.15)
    color: #fff
    padding: 12px 20px 10px 25px
    font: 400 18px/20px $font-leto-bold  
    .ic
      margin-left: 15px  
  &__register
    background-color: #ba3742
    border-radius: 27px
    box-shadow: 0 35px 29px rgba(168, 31, 44, 0.15) 
    color: #fff   
    font: 400 16px/18px $font-leto-bold 
    &--size
      width: 100%
      padding: 18px 0 
.scroll
  display: inline-block
  width: 200px
  &__text
    color: #fff
    font: 400 11px/12px $font-leto 
    float: left
    width: 160px
  .ic
    float: left
    width: 27px
    margin-right: 13px   
+r(768)   
  .form  
    &__register  
      font: 400 18px/20px $font-leto-bold 
+r(992)
  .form
    &__head
      padding: 0 30px
    &__subheading
      font: 400 30px/32px $font-leto-bold
  .btn
    &__teacher
      font: 400 22px/24px $font-leto-bold    
    &__register  
      font: 400 22px/24px $font-leto-bold 
  .carousel
    &-indicators
      bottom: 200px           
+cm("footer style")    
.footer
  position: absolute
  padding-top: 47px
  padding-bottom: 47px
  bottom: 0
  width: 100%
  height: $footer-height
  background-color: #223a5f
+cm("section intro style") 
.intro
  padding: 30px 0 40px
  background: url(../img/introbg.jpg) repeat
  color: #fff
  text-align: center
  &__heading
    font: 400 14px/20px $font-leto-thin
    margin-bottom: 20px
  &__subheading  
    font: 400 16px/20px $font-leto-bold
    margin-bottom: 20px
  &__btn
    min-width: 275px
    padding: 20px 0   
+r(768) 
  .intro
    padding: 60px 0 40px  
    &__heading
      margin-bottom: 25px
    &__subheading
      margin-bottom: 25px    
+r(992)
  .intro
    padding: 90px 0 65px    
    &__heading
      margin-bottom: 40px
    &__subheading
      margin-bottom: 40px  
+cm("section format style")  
.format
  padding: 30px 0     
  &__heading
    margin-bottom: 30px
  &__text
    text-align: center
    color: #131313
    font: 400 15px/18px $font-leto 
  &__box
    padding: 20px 0 20px
  &__image
    text-align: center
    margin-bottom: 20px    
+r(768) 
  .format
    &__col
      border: 1px solid #d6d6d6
      border-collapse: collapse
    &__box
      padding: 30px 0 30px     
+r(992) 
  .format  
    &__box
      padding: 50px 0 60px 
+cm("section teachers style")
.teacher
  padding: 30px 0 45px
  &__slider
    .slick
      &-slide
        margin: 0 5px
      &-list 
        margin: 0 -5px  
      &-prev
        left: -32px
      &-next
        right: -32px    
  &__box
    text-align: center
    border: 1px solid #e4e4e4
    padding-bottom: 25px
  &__heading
    margin-bottom: 30px  
  &__image  
    margin-bottom: 30px
    img
      display: inline-block
      max-height: 160px
      width: 100%
  &__name
    margin-bottom: 15px
    color: #131313
    font: 400 24px/26px $font-leto-bold
  &__country
    margin-bottom: 15px  
    color: #666  
    font: 400 12px/14px $font-leto
  &__skills 
    color: #666  
    font: 400 12px/14px $font-leto 
    margin-bottom: 20px
    &:after
      content: ''
      display: block
      margin: 0 auto
      width: 54px
      height: 2px
      background-color: #666
      margin-top: 18px
  &__link
    color: #223a5f  
    font: 400 15px/18px $font-leto-bold  
    &:hover,
    &:focus
      text-decoration: none
+r(768)    
  .teacher
    padding: 40px 0 45px  
    &__slider
      .slick
        &-prev
          left: -50px
        &-next
          right: -50px    
+r(992)      
  .teacher
    padding: 70px 0 100px
+cm("section about style")  
.about
  padding: 45px 0  
  text-align: center
  &__heading
    margin-bottom: 40px
  &__subheading
    color: #131313  
    font: 400 16px/19px $font-leto
    margin-bottom: 30px
    &--span
      font-family: $font-leto-bold
+r(768)  
  .about
    padding: 45px 0 60px
    &__heading
      margin-bottom: 70px
+r(992)     
  .about
    padding: 100px 0 
    &__heading
      margin-bottom: 60px
    &__subheading
      font: 400 24px/32px $font-leto
